<div class="modal-header bg-primary text-white">
  
  <h3 class="modal-title">Account Code Lookup</h3>
</div>
<div class="modal-body">
    <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#combination-lookup-panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="combination-lookup-panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.lookupCompany" placeholder="Company" typeahead="name.company.descriptionOne as name.company.valueDescription for name in vm.combinations | filter:$viewValue:$emptyOrMatch | unique:'company._id'" typeahead-on-select='onSelectAccType($name, $name.company._id, $name.company.descriptionOne)' typeahead-click-open >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.lookupLocation" placeholder="Location" typeahead="place.location.descriptionOne as place.location.valueDescription for place in vm.combinations | filter:$viewValue:$emptyOrMatch | unique: 'location._id'" typeahead-on-select='onSelectAccType($place, $place.location._id, $place.location.descriptionOne)' typeahead-click-open >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.lookupServiceType" placeholder="Service Type" typeahead="service.serviceType.descriptionOne as service.serviceType.valueDescription for service in vm.combinations | filter:$viewValue:$emptyOrMatch | unique:'serviceType._id'" typeahead-on-select='onSelectAccType($service, $service.serviceType.descriptionOne, $service.serviceType.descriptionOne)' typeahead-click-open >
        </div>
        <div class="form-group">
           <input type="text" class="form-control" ng-model="vm.lookupMajorAccount" placeholder="Major Account" typeahead="majorAcc.majorAccount.descriptionOne as majorAcc.majorAccount.valueDescription for majorAcc in vm.combinations | filter:$viewValue:$emptyOrMatch | unique:'majorAccount._id'" typeahead-on-select='onSelectAccType($majorAcc, $majorAcc.majorAccount.descriptionOne, $majorAcc.majorAccount.descriptionOne)' typeahead-click-open >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.lookupMinorAccount" placeholder="Minor Account" typeahead="minorAcc.minorAccount.descriptionOne as minorAcc.minorAccount.valueDescription for minorAcc in vm.combinations | filter:$viewValue:$emptyOrMatch | unique:'minorAccount._id'" typeahead-on-select='onSelectAccType($type, $minorAcc.minorAccount._id, $minorAcc.minorAccount.descriptionOne)' typeahead-click-open >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.lookupReservedOnes" placeholder="Reserved" typeahead="reserve.reservedOne.descriptionOne as reserve.reservedOne.valueDescription for reserve in vm.combinations | filter:$viewValue:$emptyOrMatch | unique:'reservedOne._id'" typeahead-on-select='onSelectAccType($reserve, $reserve.reservedOne._id, $reserve.reservedOne.descriptionOne)' typeahead-click-open > 
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.lookupReservedTwos" placeholder="Reserved" typeahead="reserve.reservedTwo.descriptionOne as reserve.reservedTwo.valueDescription for reserve in vm.combinations | filter:$viewValue:$emptyOrMatch | unique:'reservedTwo._id'" typeahead-on-select='onSelectAccType($reserve, $reserve.reservedTwo._id, $reserve.reservedTwo.descriptionOne)' typeahead-click-open >
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="vm.figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="vm.clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="table-responsive">
  <table class="table table-bordered table-condensed table-striped table-hover ">
    <tr>
      <th width="11%">Company</th>
      <th width="11%">Location</th>
      <th width="11%">Service Types</th>
      <th width="11%">Major Accounts</th>
      <th width="11%">Minor Accounts</th>
      <th width="11%">Reserved Ones</th>
      <th width="11%">Reserved Twos</th>
     
    </tr>
    <tr data-ng-if="!vm.pagedItems.length">
      <td colspan="15" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="combination in vm.pagedItems track by $index" ng-click="vm.selectRow(combination)">
      <td data-ng-bind="combination.company.value + ' - ' + combination.company.descriptionOne"></td>
      <td data-ng-bind="combination.location.value + ' - ' + combination.location.descriptionOne"></td>
      <td data-ng-bind="combination.serviceType.value + ' - ' + combination.serviceType.descriptionOne"></td>
      <td data-ng-bind="combination.majorAccount.value + ' - ' + combination.majorAccount.descriptionOne"></td>
      <td data-ng-bind="combination.minorAccount.value + ' - ' + combination.minorAccount.descriptionOne"></td>
      <td data-ng-bind="combination.reservedOne.value + ' - ' + combination.reservedOne.descriptionOne"></td>
      <td data-ng-bind="combination.reservedTwo.value + ' - ' + combination.reservedTwo.descriptionOne"></td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filtered.length" ng-model="vm.currentPage" ng-change="vm.pageChanged()" style="margin: 0px;"></pagination>
  </div>
  </div>  
</div>