<section>
  <div class="page-header">
    <h1>{{vm.combination._id ? 'Edit Combination' : 'New Combination'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.combinationForm" class="form-horizontal" ng-submit="vm.save(vm.form.combinationForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="company">Company: </label>
          <select name="company" type="text" ng-model="vm.combination.company" id="company" class="form-control" placeholder="Company" ng-options="c._id as c.value + ' - ' +c.descriptionOne for c in vm.companies" required></select>
          <div ng-messages="vm.form.combinationForm.company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="location">Location: </label>
          <select name="location" type="text" ng-model="vm.combination.location" id="location" class="form-control" placeholder="Location" ng-options="l._id as l.value + ' - ' +l.descriptionOne for l in vm.locations" required></select>
          <div ng-messages="vm.form.combinationForm.location.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Location is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="serviceType">Service Type: </label>
          <select name="serviceType" type="text" ng-model="vm.combination.serviceType" id="serviceType" class="form-control" placeholder="Service Type" ng-options="st._id as st.value + ' - ' +st.descriptionOne for st in vm.serviceTypes" required></select>
          <div ng-messages="vm.form.combinationForm.serviceType.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Service type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="majorAccount">Major Account: </label>
          <select name="majorAccount" type="text" ng-model="vm.combination.majorAccount" id="majorAccount" class="form-control" placeholder="Major Account" ng-options="major._id as major.value + ' - ' +major.descriptionOne + ' (' +major.accountType + ')' for major in vm.majorAccounts" required></select>
          <div ng-messages="vm.form.combinationForm.majorAccount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Major account is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="minorAccount">Minor Account: </label>
          <select name="minorAccount" type="text" ng-model="vm.combination.minorAccount" id="minorAccount" class="form-control" placeholder="Minor Account" ng-options="minor._id as minor.value + ' - ' +minor.descriptionOne for minor in vm.minorAccounts" required></select>
          <div ng-messages="vm.form.combinationForm.minorAccount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Minor account is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="reservedOne">Reserved 1: </label>
          <select name="reservedOne" type="text" ng-model="vm.combination.reservedOne" id="reservedOne" class="form-control" placeholder="Reserved 1" ng-options="ro._id as ro.value + ' - ' +ro.descriptionOne for ro in vm.reservedOnes"></select>
          <div ng-messages="vm.form.combinationForm.reservedOne.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="reservedTwo">Reserved 2: </label>
          <select name="reservedTwo" type="text" ng-model="vm.combination.reservedTwo" id="reservedTwo" class="form-control" placeholder="Reserved 2" ng-options="rt._id as rt.value + ' - ' +rt.descriptionOne for rt in vm.reservedTwos"></select>
          <div ng-messages="vm.form.combinationForm.reservedTwo.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="status">Combination Status: </label>
          <select name="status" type="text" ng-model="vm.combination.status" id="status" class="form-control" placeholder="Combination Status" required ng-init="vm.combination.status = vm.combination.status ? true: false" status-option>
          </select>
          <div data-ng-if="vm.combination.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{vm.combination.disabled | date: 'medium'}}
          </div>
          <div ng-messages="vm.form.combinationForm.status.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Combination Status is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="combinations.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="combinations.create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="vm.combination._id"><i class="glyphicon glyphicon-plus"></i> Add New Combinations</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">        
        <span class="dtl-label" data-ng-if="vm.combination.updatedBy">Updated By:</span> {{vm.combination.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.combination.updated">Date Updated:</span> {{vm.combination.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.combination.createdBy">Created By:</span> {{vm.combination.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.combination.created">Date Created:</span> {{vm.combination.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>
