<section>
  <div class="page-header">
    <button class="btn btn-primary" data-ui-sref="combinations.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Combination</button>
    <h1>Combinations</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="accountType" placeholder="Account Type" typeahead="type.majorAccount.accountType as type.majorAccount.accountType for type in combinations | filter:$viewValue:$emptyOrMatch | unique:'majorAccount._id'" typeahead-on-select='onSelectAccType($type, $type.majorAccount._id, $type.majorAccount.accountType)' typeahead-click-open >
        </div>
        <div class="form-group">
             <input type="text" class="form-control" ng-model="company" placeholder="Company" typeahead="name.company.descriptionOne as name.company.valueDescription for name in combinations | filter:$viewValue:$emptyOrMatch | unique:'company._id'" typeahead-on-select='onSelectAccType($name, $name.company._id, $name.company.descriptionOne)' typeahead-click-open >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="location" placeholder="Location" typeahead="place.location.descriptionOne as place.location.valueDescription for place in combinations | filter:$viewValue:$emptyOrMatch | unique: 'location._id'" typeahead-on-select='onSelectAccType($place, $place.location._id, $place.location.descriptionOne)' typeahead-click-open >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="serviceType" placeholder="Service Type" typeahead="service.serviceType.descriptionOne as service.serviceType.valueDescription for service in combinations | filter:$viewValue:$emptyOrMatch | unique:'serviceType._id'" typeahead-on-select='onSelectAccType($service, $service.serviceType.descriptionOne, $service.serviceType.descriptionOne)' typeahead-click-open >
        </div>
        <br/>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="majorAccount" placeholder="Major Account" typeahead="majorAcc.majorAccount.descriptionOne as majorAcc.majorAccount.valueDescription for majorAcc in combinations | filter:$viewValue:$emptyOrMatch | unique:'majorAccount._id'" typeahead-on-select='onSelectAccType($majorAcc, $majorAcc.majorAccount.descriptionOne, $majorAcc.majorAccount.descriptionOne)' typeahead-click-open >            
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="minorAccount" placeholder="Minor Account" typeahead="minorAcc.minorAccount.descriptionOne as minorAcc.minorAccount.valueDescription for minorAcc in combinations | filter:$viewValue:$emptyOrMatch | unique:'minorAccount._id'" typeahead-on-select='onSelectAccType($minorAcc, $minorAcc.minorAccount.descriptionOne, $minorAcc.minorAccount.descriptionOne)' typeahead-click-open >   
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="reserved" placeholder="Reserved" typeahead="reserve.reservedOne.descriptionOne as reserve.reservedOne.valueDescription for reserve in combinations | filter:$viewValue:$emptyOrMatch | unique:'reservedOne._id'" typeahead-on-select='onSelectAccType($reserve, $reserve.reservedOne._id, $reserve.reservedOne.descriptionOne)' typeahead-click-open >   
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="10%">Type</th>
      <th width="15%">Company</th>
      <th width="15%">Location</th>
      <th width="10%">Service Type</th>
      <th width="10%">Major Account</th>
      <th width="10%">Minor Account</th>
      <th width="10%">Reserved 1</th>
      <th width="10%">Reserved 2</th>
      <th width="10%">Status</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="9" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="combination in pagedItems" data-ui-sref="combinations.edit({ combinationId: combination._id })">
      <td data-ng-bind="combination.majorAccount.accountType"></td>
      <td data-ng-bind="(combination.company.value) + ' - ' + (combination.company.descriptionOne)"></td>
      <td data-ng-bind="(combination.location.value) + ' - ' + (combination.location.descriptionOne)"></td>
      <td data-ng-bind="(combination.serviceType.value) + ' - ' + (combination.serviceType.descriptionOne)"></td>
      <td data-ng-bind="(combination.majorAccount.value) + ' - ' + (combination.majorAccount.descriptionOne)"></td>
      <td data-ng-bind="(combination.minorAccount.value) + ' - ' + (combination.minorAccount.descriptionOne)"></td>
      <td data-ng-bind="(combination.reservedOne.value) + ' - ' + (combination.reservedOne.descriptionOne)"></td>
      <td data-ng-bind="(combination.reservedTwo.value) + ' - ' + (combination.reservedTwo.descriptionOne)"></td>
      <td>{{ combination.status ? 'Active' : 'Inactive' }}</td>
    </tr>
  </table>
 <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
