<section>
  <div class="page-header">
    <h1>{{vm.check._id ? 'Edit Check' : 'New Check'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.checkForm" class="form-horizontal" ng-submit="vm.save(vm.form.checkForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Bank: </label>
          <select name="bank" type="text" ng-model="vm.check.bank" id="bank" class="form-control" placeholder="Bank" ng-options="bank._id as bank.displayName for bank in vm.banks" required></select>
          <div ng-messages="vm.form.checkForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bank is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Check Series Name: </label>
          <input name="name" type="text" ng-model="vm.check.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.checkForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Check Name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Document Number From: </label>
          <input name="documentNumberFrom" type="number" ng-model="vm.check.documentNumberFrom" id="documentNumberFrom" class="form-control" placeholder="Document Number From" required>
          <div ng-messages="vm.form.checkForm.documentNumberFrom.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Document Number From is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Document Number To: </label>
          <input name="documentNumberTo" type="number" ng-model="vm.check.documentNumberTo" id="documentNumberTo" class="form-control" placeholder="Document Number To" required>
          <div ng-messages="vm.form.checkForm.documentNumberTo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Document Number To is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd reqd" for="status">Check Status: </label>
          <select name="status" ng-model="vm.check.status" id="status" class="form-control" placeholder="Check Status" required ng-init="vm.check.status = vm.check.status ? true : false" status-option>
          </select>
          <div data-ng-if="vm.check.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{vm.check.disabled | date: 'medium'}}
          </div>
          <div ng-messages="vm.form.supplierForm.status.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Check status is required.</p>              
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="checks.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="checks.create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="vm.check._id"><i class="glyphicon glyphicon-plus"></i> Add New Check</button>
        </div>    
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">        
        <span class="dtl-label" data-ng-if="vm.check.updatedBy">Updated By:</span> {{vm.check.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.check.updated">Date Updated:</span> {{vm.check.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.check.createdBy">Created By:</span> {{vm.check.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.check.created">Date Created:</span> {{vm.check.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>