<section>
  <div class="page-header">
   <button class="btn btn-primary" data-ui-sref="checks.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Check</button>
    <h1>Checks</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.bankName" placeholder="Bank Name" typeahead="name for name in _.uniq(_.map(_.map(vm.checks,'bank'),'name')) | filter:$viewValue" >
        </div>
        <div class="form-group">
         <input type="text" class="form-control" ng-model="vm.bankBranch" placeholder="Bank Branch" typeahead="branch for branch in _.uniq(_.map(_.map(vm.checks,'bank'),'branch')) | filter:$viewValue" >
        </div>
         <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.bankAccount" placeholder="Account No" typeahead="account for account in _.uniq(_.map(_.map(vm.checks,'bank'),'accountNumber')) | filter:$viewValue" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.checkName" placeholder="Check Series Name" typeahead="name for name in _.uniq(_.map(vm.checks,'name')) | filter:$viewValue" >
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="vm.figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="vm.clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="10%">Bank Name</th>
      <th width="10%">Bank Branch</th>
      <th width="10%">Account Number</th>
      <th width="10%">Check Series Name</th>
      <th width="10%">Document Number From</th>
      <th width="10%">Document Number To</th>
      <th width="10%">Current Document Number</th>
      <th width="10%">Status</th>
    </tr>
    <tr data-ng-if="!vm.pagedItems.length">
      <td colspan="8" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="check in vm.pagedItems" data-ui-sref="checks.edit({ checkId: check._id })">
      <td data-ng-bind="check.bank.name"></td>
      <td data-ng-bind="check.bank.branch"></td>
      <td data-ng-bind="check.bank.accountNumber"></td>
      <td data-ng-bind="check.name"></td>
      <td data-ng-bind="check.documentNumberFrom"></td>
      <td data-ng-bind="check.documentNumberTo"></td>
      <td data-ng-bind="check.currentDocNum"></td>
      <td>{{ check.status ? 'Active' : 'Inactive' }}</td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filtered.length" ng-model="vm.currentPage" ng-change="vm.pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
