<section>
  <div class="page-header">
    <form class="form-inline" style="float: right;">
     <input name="module" ng-model="module" id="module" class="form-control" placeholder="Inventory" required ng-readonly="true">
     <select ng-model="period" class="form-control" ng-options="p.periodName for p in periods">
      <option value="" disabled selected>Period</option>
    </select>
    <button type="button" ng-click="openCalendar($event, period)" class="btn btn-primary">Open</button>
    <button type="button" ng-click="confirmDialog($event, period)" class="btn btn-primary">Close</button>
  </form>
  <h1>Inventory Calendar</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading search-heading">
   <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
    <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
    <span style="float: right;">
      <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
    </span>
  </h4>
</div>
<div class="collapse in panel-body search-panel" id="panel-body">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="periodName" placeholder="Period Name"
      ng-change="search()" typeahead="p.periodName for p in periods" typeahead-wait-ms="50">
    </div>      
    <div class="form-group">
      <input name="periodNumber" type="number" ng-model="periodNumber" id="periodNumber" class="form-control" placeholder="Period Number" min="1" max="12" style="width: 150px !important;">
    </div>
    <div class="form-group">
      <select name="status" ng-model="status" id="type" class="form-control" placeholder="Status">
        <option value="" selected>Status</option>
        <option value="Open">Open</option>
        <option value="Future">Future</option>
        <option value="Closed">Closed</option>
      </select>
    </div>
    <div class="form-group button-group">
      <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
        <i class="glyphicon glyphicon-search"></i> Search
      </button>
      <button type="button" class="btn btn-warning" ng-click="clear()">
        <i class="glyphicon glyphicon-repeat"></i> Reset
      </button>
    </div>
  </form>
</div>
</div>
<table class="table table-bordered table-condensed table-striped table-hover table-responsive">
  <tr>
    <th width="5%">Period Number</th>
    <th width="30%">Period Name</th>
    <th width="10%">From Date</th>
    <th width="10%">To Date</th>
    <th width="15%">Calendar Module Status</th>
    <th width="10%">Calendar Overall Status</th>
  </tr>
  <tr data-ng-if="!pagedItems.length">
    <td colspan="6" align="center">No records found</td>
  </tr>
  <tr ng-repeat="transactionCalendar in pagedItems">
    <td ng-bind="transactionCalendar.periodNumber"></td>
    <td ng-bind="transactionCalendar.periodName"></td>
    <td ng-bind="transactionCalendar.fromDate | date: 'MMM dd, yyyy'"></td>
    <td ng-bind="transactionCalendar.toDate | date: 'MMM dd, yyyy'"></td>
    <td ng-bind="moduleStatus(transactionCalendar.module)"></td>
    <td ng-bind="calendarStatus(transactionCalendar.module)"></td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
