<section>
  <div ng-class="!vm.transaction._id ? 'page-header': 'top-spacing'">
    <h1 data-ng-if="!vm.transaction._id">New Transaction</h1>
  </div>

  <div class="form-detials-important dtl-border-top" data-ng-if="vm.transaction.number">
    <div class="dtl-left">
      <span class="dtl-label">TRANSACTION NO.:</span> {{vm.transaction.number}}
    </div>
    <div class="dtl-right small-font">
      {{vm.transaction.created | date: 'EEEE M/d/yy h:mm:ss a'}}
    </div>
    <div class="clear-block"></div>
  </div>
  <div class="col-md-12">
    <form name="vm.form.transactionForm" class="form-horizontal" ng-submit="vm.save(vm.form.transactionForm.$valid)" novalidate>
      <fieldset>
        <!-- <div class="form-group" ng-show="vm.transaction._id">
          <label class="control-label" for="number">Transaction #: </label>
         <input type="text" ng-model="vm.transaction.number" class="form-control" disabled>
        </div> -->
        <div class="form-group" show-errors>
          <label class="control-label" for="source">Source: </label>
          <select name="source" ng-model="vm.transaction.source" id="source" class="form-control" placeholder="Source" required disabled>
            <option value='Inventory'>Inventory</option>
            <option value='PO Receipt'>PO Receipt</option>
          </select>
          <div ng-messages="vm.form.transactionForm.status.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="action">Action: </label>
          <select name="action" ng-model="vm.transaction.action" id="action" class="form-control" placeholder="Action" required ng-disabled="vm.transaction._id">
            <option value='Issuance'>Issuance</option>
            <option value='Receipt'>Receipt</option>
            <option value='Transfer'>Transfer</option>
          </select>
          <div ng-messages="vm.form.transactionForm.status.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Transaction Action is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="date">Date: </label>
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.transaction.date" is-open="vm.date.opened"
              datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date" name="date" ng-disabled="vm.transaction._id"
            />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openDate($event)" ng-disabled="vm.transaction._id"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-messages="vm.form.transactionForm.date.$error" role="alert">
            </div>
          </div>
        </div>
        <div class="form-group" show-errors ng-show="vm.transaction.action === 'Issuance'">
          <label class="{reqd : vm.transaction.action === 'Issuance'}" for="action">Issue To: </label>
          <select name="issueTo" ng-model="vm.transaction.issueTo" id="issueTo" class="form-control" placeholder="Issue To"
            ng-options="p._id as p.displayName for p in vm.users" ng-disabled="vm.transaction._id" ng-required="vm.transaction.action === 'Issuance'">
          </select>
          <div ng-messages="vm.form.transactionForm.issueTo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Issue To is required.</p>
          </div>
        </div>
        <div class="form-group" ng-show="vm.transaction.receipt.purchaseOrder.number">
          <label class="control-label" for="action">PO Number: </label>
          <input type="text" ng-model="vm.transaction.receipt.purchaseOrder.number" class="form-control" disabled>
        </div>
        <div class="form-group" ng-show="vm.transaction.receipt.number">
          <label class="control-label" for="action">Receipt Number: </label>
          <input type="text" ng-model="vm.transaction.receipt.number" class="form-control" disabled>
        </div>
        <div class="form-group" ng-show="vm.transaction.receipt.purchaseOrder.supplier.name">
          <label class="control-label" for="action">Supplier: </label>
          <input type="text" ng-model="vm.transaction.receipt.purchaseOrder.supplier.name" class="form-control" disabled>
        </div>

        <div class="button-cnt button-group">
          <div class="btn btn-primary" ng-click="addLine()" ng-show="!vm.transaction._id"><i class="glyphicon glyphicon-plus"></i> Add Item</div>
        </div>

        <div class="page-subheader">
          <h3>Items</h3>
        </div>

        <div data-ng-if="!vm.transaction.lines.length">
          <div align="center">No records found</div>
        </div>

        <div class="panel panel-default panel-condensed" data-ng-repeat="list in vm.transaction.lines | orderBy:'item.code'">
          <div class="panel-heading">
            <span class="pull-right">
                  <div class="btn btn-danger btn-xs" ng-click="deleteLine($index, vm.transaction._id)" ng-disabled="vm.transaction._id">Delete</div>
              </span>
            <div class="clearfix"></div>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="form-group col-md-4 col-sm-12" show-errors>
                <label class="control-label reqd" for="item">Item: </label>
                <select name="item" type="text" ng-model="list.item._id" id="item" class="form-control" ng-change="selectItem(list)" ng-options="it._id as (it.code + ' - ' + it.description) for it in vm.items"
                  ng-disabled="vm.transaction._id"></select>
              </div>
              <div class="form-group col-md-4 col-sm-6" show-errors>
                <label class="control-label" for="category">Category: </label>
                <input name="category" type="text" ng-model="list.item.category.value" id="category" class="form-control" placeholder="Category"
                  readonly>
              </div>
              <div class="form-group col-md-4 col-sm-6" show-errors>
                <label class="control-label" for="uom">UOM: </label>
                <input name="uom" type="text" id="uom" ng-model="list.item.uom.value" class="form-control" placeholder="UOM" readonly>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-2 col-sm-6">
                <label class="control-label reqd" for="quantity">Quantity: </label>
                <input name="quantity" type="number" ng-model="list.quantity" id="quantity" class="form-control" placeholder="Quantity" required
                  ng-disabled="vm.transaction._id" min="0" oninput="validity.valid || (value='')">
              </div>
              <div class="form-group col-md-2 col-sm-6" show-errors>
                <label class="control-label" for="unitPrice">Unit Price: </label>
                <input name="unitPrice" type="number" ng-model="list.unitPrice" id="unitPrice" step="0.01" class="form-control" min="0.00"
                  ng-required="vm.transaction.action !== 'Transfer'" ng-disabled="vm.transaction._id || ['Issuance','Transfer'].indexOf(vm.transaction.action) >= 0">
              </div>
              <div class="form-group col-md-6 col-sm-12" ng-show="!vm.transaction._id">
                <label class="control-label reqd" for="chargeAccount">Charged Account: </label>
                <div class="form-group input-group" popover="{{vm.getPopOverDescription(list.chargeAccount)}}" popover-trigger="mouseenter"
                  popover-popup-delay="500" popover-placement="left">
                  <select name="chargeAccount" ng-model="list.chargeAccount" id="chargeAccount" class="form-control" ng-options="account._id as account.accountDescription for account in vm.accounts"
                    ng-disabled="vm.transaction._id"></select>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ng-disabled="vm.transaction._id"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
                </div>
              </div>
              <div class="form-group col-md-2 col-sm-6" ng-show="vm.transaction._id && vm.transaction.action !== 'Transfer'">
                <label class="control-label" for="distributions">Distributions: </label>
                <div class=""><div class="btn btn-primary" data-toggle="modal" data-target="#distributionModal" ng-click="setSelectedLine(list, $index)"><i class="glyphicon glyphicon-search"></i> Show Distributions</div></div>
              </div>
              <div class="form-group col-md-2 col-sm-6">
                <label class="control-label reqd" for="seririals">Serials: </label>
                <div class=""><div class="btn btn-primary" data-toggle="modal" data-target="#serialsModal" ng-click="setSelectedLine(list, $index)"><i class="glyphicon glyphicon-search"></i> Show Serials</div></div>
              </div>
            </div>
          </div>
        </div>

        <!-- <table class="table table-bordered table-condensed table-striped table-hover table-responsive table-less table-subtable">
        <tr>
          <th width="10%" class="reqd">Item</th>
          <th width="10%">Category</th>
          <th width="5%" class="reqd">Quantity</th>
          <th width="5%">UOM</th>
          <th width="5%">Unit Price</th>
          <th width="15%" ng-show="!vm.transaction._id" class="reqd">Charged Account</th>
          <th width="5%" ng-show="vm.transaction._id && vm.transaction.action !== 'Transfer'">Distributions</th>
          <th width="5%" class="reqd">Serials</th>
          <th width="5%" ng-show="!vm.transaction._id">Action</th>
        </tr>
        <tr data-ng-if="!vm.transaction.lines.length">
          <td colspan="11" align="center">No records found</td>
        </tr>
        <tr data-ng-repeat="list in vm.transaction.lines | orderBy:'item.code' ">
            <td>
              <select name="item" type="text" ng-model="list.item._id" id="item" class="form-control" ng-change="selectItem(list)" ng-options="it._id as (it.code + ' - ' + it.description) for it in vm.items" ng-disabled="vm.transaction._id"></select>
            </td>
            <td>
              <input name="category" type="text" ng-model="list.item.category.value" id="category" class="form-control" placeholder="Category" readonly>
            </td>
            <td>
              <input name="quantity" type="number" ng-model="list.quantity" id="quantity" class="form-control" placeholder="Quantity" required ng-disabled="vm.transaction._id" min="0" oninput="validity.valid || (value='')">
            </td>
             <td>
              <input name="uom" type="text" id="uom" ng-model="list.item.uom.value" class="form-control" placeholder="UOM" readonly>
            </td>
            <td>
              <input name="unitPrice" type="number" ng-model="list.unitPrice" id="unitPrice" step="0.01" class="form-control" min="0.00" ng-required="vm.transaction.action !== 'Transfer'" ng-disabled="vm.transaction._id || ['Issuance','Transfer'].indexOf(vm.transaction.action) >= 0">
            </td>
            <td ng-show="!vm.transaction._id">
              <div class="form-group input-group" popover="{{vm.getPopOverDescription(list.chargeAccount)}}" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="left" >
              <select name="chargeAccount" ng-model="list.chargeAccount" id="chargeAccount" class="form-control" ng-options="account._id as account.accountDescription for account in vm.accounts" ng-disabled="vm.transaction._id"></select>
              <span class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ng-disabled="vm.transaction._id"><i class="glyphicon glyphicon-search"></i></button>
              </span>
              </div>
            </td>
            <td ng-show="vm.transaction._id && vm.transaction.action !== 'Transfer'">
              <div class="btn btn-primary" data-toggle="modal" data-target="#distributionModal" ng-click="setSelectedLine(list, $index)"><i class="glyphicon glyphicon-search"></i></div>
            </td>
            <td>
              <div class="btn btn-primary" data-toggle="modal" data-target="#serialsModal" ng-click="setSelectedLine(list, $index)"><i class="glyphicon glyphicon-search"></i></div>
            </td>
            <td ng-show="!vm.transaction._id">
              <div class="btn btn-danger" ng-click="deleteLine($index, vm.transaction._id)" ng-disabled="vm.transaction._id"><i class="glyphicon glyphicon-trash"></i></div>
            </td>
        </tr>
        </table> -->

        <div class="form-group">
          <button type="submit" class="btn btn-success" ng-show="!vm.transaction._id">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="transactions.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="transactions.create" data-ui-sref-opts="{reload: true}" style="float: right;"
            ng-show="vm.transaction._id"><i class="glyphicon glyphicon-plus"></i> Add New Transaction</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">
        <span class="dtl-label" data-ng-if="vm.transaction.updatedBy">Updated By:</span> {{vm.transaction.updatedBy.username}}
        <br/>
        <span class="dtl-label" data-ng-if="vm.transaction.updated">Date Updated:</span> {{vm.formatDateTime(vm.transaction.updated)}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.transaction.createdBy">Created By:</span> {{vm.transaction.createdBy.username}}
        <br/>
        <span class="dtl-label" data-ng-if="vm.transaction.created">Date Created:</span> {{vm.formatDateTime(vm.transaction.created)}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>


<div class="modal fade" id="serialsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" size='lg'>
  <div class="modal-dialog modal-lg" role="document" size='lg'>
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Serial Lots</h3>
      </div>
      <div class="modal-body">
        <div class="button-cnt button-group" ng-show="!vm.transaction._id">
          <div class="btn btn-primary" ng-click="addSerial(vm.transaction.lines[vm.currentIndex].serials)"><i class="glyphicon glyphicon-plus"></i> Add Serial Lot</div>
        </div>

        <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
          <tr>
            <th width="20%">Serial #</th>
            <th width="30%">Sub Inventory</th>
            <th width="30%" ng-show="vm.transaction.action === 'Transfer'">Transfer Sub Inventory</th>
            <th width="15%">Quantity</th>
            <th width="5%" ng-show="!vm.transaction._id">Action</th>
          </tr>
          <tr data-ng-if="vm.transaction.lines[vm.currentIndex].serials.length === 0">
            <td colspan="7" align="center">No records found</td>
          </tr>
          <tr data-ng-repeat="se in vm.transaction.lines[vm.currentIndex].serials">
            <td>
            <input name="serial" type="text" ng-model="se.serial" id="serial" class="form-control" ng-disabled="vm.transaction._id" typeahead="serial._id as serial.displaySerial for serial in vm.dropdownSerials(vm.transaction.lines[vm.currentIndex].item) | filter:$viewValue:$emptyOrMatch"
            typeahead-wait-ms="50" typeahead-on-select='onSerialSelect(se,$item,$label)' typeahead-click-open >
            </td>
            <td>
              <select name="subInventory" type="text" ng-model="se.subInventory" id="subInventory" class="form-control" ng-options="si._id as si.value for si in vm.subInventories"
                ng-disabled="vm.transaction._id"></select>
            </td>
            <td ng-show="vm.transaction.action === 'Transfer'">
              <select name="transferSubInventory" type="text" ng-model="se.transferSubInventory" id="transferSubInventory" class="form-control"
                ng-options="tsi._id as tsi.value for tsi in vm.subInventories" ng-disabled="vm.transaction.action !== 'Transfer' || vm.transaction._id"></select>
            </td>
            <td>
              <input name="serialQty" type="number" ng-model="se.quantity" id="serialQty" class="form-control" ng-disabled="vm.transaction._id"
                min="0" oninput="validity.valid || (value='')">
            </td>
            <td ng-show="!vm.transaction._id">
              <div class="btn btn-danger" ng-click="deleteSerial($index, vm.transaction._id)" ng-disabled="vm.transaction._id"><i class="glyphicon glyphicon-trash"></i> </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveSerial(vm.currentIndex)" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="distributionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  size='lg'>
  <div class="modal-dialog modal-lg" role="document" size='lg'>
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h3 class="modal-title">Distributions</h3>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
          <tr>
            <td colspan="2"></td>
            <th>Total Amount</th>
          </tr>
          <tr>
            <th width="5%">Debit</th>
            <td data-ng-bind="vm.getPopOverDescription(vm.transaction.lines[vm.currentIndex].debit._id)"> </td>
            <td data-ng-bind="vm.getTotalLineAmout(vm.transaction.lines[vm.currentIndex]) | currency:''"></td>
          </tr>
          <tr>
            <th width="5%">Credit</th>
            <td data-ng-bind="vm.getPopOverDescription(vm.transaction.lines[vm.currentIndex].credit._id)"></td>
            <td data-ng-bind="vm.getTotalLineAmout(vm.transaction.lines[vm.currentIndex]) | currency:''"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
