<section>
  <div class="page-header">
    <form class="form-inline" style="float: right;">
     <input name="module" ng-model="module" id="module" class="form-control" placeholder="Inventory" required ng-readonly="true">
     <select ng-model="period" class="form-control" ng-options="p.periodName for p in periods">
      <option value="" disabled selected>Period</option>
    </select>
    <button type="button" class="btn btn-primary" ng-click="postToGL()">Post to GL</button>
  </form>
    <h1>Transaction</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="transaction" placeholder="Transaction / PO Number"
            ng-change="searchTransaction()" typeahead="t for t in trans" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="item" placeholder="Item" style="width: 100px !important;"
            ng-change="searchItem()" typeahead="i.code for i in filtered" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <select name="source" ng-model="source" id="source" class="form-control" placeholder="Source">
            <option value="" disabled selected>Source</option>
            <option value='Inventory'>Inventory</option>
            <option value='PO Receipt'>PO Receipt</option>
          </select>
          <!-- <input type="text" class="form-control" ng-model="source" placeholder="Source" ng-change="searchSource()" typeahead="s for s in sources" typeahead-wait-ms="50"> -->
        </div>
          <div class="form-group">
          <select name="action" ng-model="action" id="action" class="form-control" placeholder="Action">
            <option value="" disabled selected>Action</option>
            <option value='Issuance'>Issuance</option>
            <option value='Receipt'>Receipt</option>
            <option value='Transfer'>Transfer</option>
          </select>
          <!-- <input type="text" class="form-control" ng-model="action" placeholder="Action" ng-change="searchAction()" typeahead="a for a in actions" typeahead-wait-ms="50"> -->
        </div>

        <div class="form-group input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateFrom" is-open="dateFromStatus.opened" datepicker-options="dateOptions" ng-required="true" max-date="dateTo" close-text="Close" placeholder="Date From" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDate($event,true)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <div class="form-group input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateTo" is-open="dateToStatus.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" min-date="dateFrom" placeholder="Date To" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDate($event,false)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>

        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="7%">Transaction #</th>
      <th width="7%">Purchase Order #</th>
      <th width="15%">Date</th>
      <th width="10%">Source</th>
      <th width="10%">Action</th>
      <th width="20%">Item(s)</th>
      <th width="5%">Quantity</th>
      <!-- <th width="10%">UOM</th> -->
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="7" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="transaction in pagedItems" data-ui-sref="transactions.view({ transactionId: transaction._id })">
      <td data-ng-bind="transaction.number" ></td>
      <td data-ng-bind="transaction.receipt.purchaseOrder.number" ></td>
      <td data-ng-bind="transaction.date | date: 'mediumDate'"></td>
      <td data-ng-bind="transaction.source"></td>
      <td data-ng-bind="transaction.action"></td>
      <td><span ng-repeat="line in transaction.lines">{{ line.item.code }} {{ $last ? '' : ','}}</span></td>
      <td>{{ getTotalQuantity(transaction.lines) }}</td>
    </tr>
  </table>
    </tr>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>