<section>
  <div class="page-header">
    <h1>{{vm.bank._id ? 'Edit Bank Account' : 'New Bank Account'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.bankForm" class="form-horizontal" ng-submit="vm.save(vm.form.bankForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="code">Bank Code: </label>
          <input name="code" type="text" ng-model="vm.bank.code" id="code" class="form-control" placeholder="Bank Code" required>
          <div ng-messages="vm.form.bankForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bank code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Bank Name: </label>
          <input name="name" type="text" ng-model="vm.bank.name" id="name" class="form-control" placeholder="Bank Name" required>
          <div ng-messages="vm.form.bankForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bank name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="accountNumber">Bank Account Number: </label>
          <input name="accountNumber" type="text" ng-model="vm.bank.accountNumber" id="accountNumber" class="form-control" placeholder="Bank Account Number" required>
          <div ng-messages="vm.form.bankForm.accountNumber.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bank Account Number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="addressOne">Address One: </label>
          <input name="addressOne" type="text" ng-model="vm.bank.addressOne" id="addressOne" class="form-control" placeholder="Address One" required>
          <div ng-messages="vm.form.bankForm.addressOne.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Address One is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="addressTwo">Address Two: </label>
          <input name="addressTwo" type="text" ng-model="vm.bank.addressTwo" id="addressTwo" class="form-control" placeholder="Address Two" required>
          <div ng-messages="vm.form.bankForm.addressTwo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Address Two is required.</p>
          </div>
        </div>
        <div class="form-group reqd" show-errors>
          <label class="control-label reqd" for="branch">Branch: </label>
          <input name="branch" type="text" ng-model="vm.bank.branch" id="branch" class="form-control" placeholder="Branch" required>
          <div ng-messages="vm.form.bankForm.branch.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Branch is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-labe reqd" for="country">Country: </label>
          <select name="country" type="text" ng-model="vm.bank.country" id="country" class="form-control" placeholder="Country" ng-options="cc._id as cc.value for cc in vm.countries" required>
          </select>
          <div ng-messages="vm.form.bankForm.country.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Country is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="currency">Currency: </label>
          <select name="currency" type="text" ng-model="vm.bank.currency" id="currency" class="form-control" placeholder="Currency" ng-options="cur._id as cur.value for cur in vm.currencies" required>
          </select>
          <div ng-messages="vm.form.bankForm.currency.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Currency is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="accountCode">Account Code: </label>
          <div class="input-group" >
            <select name="accountCode" type="text" ng-model="vm.bank.accountCode" id="accountCode" class="form-control" placeholder="Account Code" ng-options="ac._id as ac.accountDescription for ac in vm.accountCodes" required></select>
            <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ><i class="glyphicon glyphicon-search" ></i></button>
            </span>
          </div>
          <div ng-messages="vm.form.bankForm.accountCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="status">Bank Status: </label>
           <select name="status" ng-init="vm.bank.status = vm.bank.status ? true : false;" class="form-control" placeholder="Bank Status" required  ng-model="vm.bank.status" status-option></select>        
          <div data-ng-if="vm.bank.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{vm.bank.disabled | date: 'medium'}}
          </div>
          <div ng-messages="vm.form.bankForm.status.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Bank Status is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="banks.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="banks.create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="vm.bank._id"><i class="glyphicon glyphicon-plus"></i> Add New Bank</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">        
        <span class="dtl-label" data-ng-if="vm.bank.updatedBy">Updated By:</span> {{vm.bank.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.bank.updated">Date Updated:</span> {{vm.bank.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.bank.createdBy">Created By:</span> {{vm.bank.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.bank.created">Date Created:</span> {{vm.bank.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>
