<section>
  <div class="page-header">
    <button class="btn btn-primary" data-ui-sref="banks.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Bank Account</button>
    <h1>Bank Accounts</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="code" placeholder="Bank Code" 
            ng-change="searchCode()" typeahead="c for c in cs" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="name" placeholder="Bank Name"
            ng-change="searchName()" typeahead="n for n in ns" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="accountNumber" placeholder="Account Number"
            ng-change="searchAccount()" typeahead="an for an in ans" typeahead-wait-ms="50">
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="7%">Code</th>
      <th width="15%">Name</th>
      <th width="10%">Account Number</th>
      <th width="15%">Address</th>
      <th width="10%">Branch</th>
      <th width="7%">Currency</th>
      <th width="20%">Cash Account Code</th>
      <th width="5%">Status</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="8" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="bank in pagedItems" data-ui-sref="banks.edit({ bankId: bank._id })">
      <td data-ng-bind="bank.code"></td>
      <td data-ng-bind="bank.name"></td>
      <td data-ng-bind="bank.accountNumber"></td>
      <td data-ng-bind="bank.address"></td>
      <td data-ng-bind="bank.branch"></td>
      <td data-ng-bind="bank.currency.value"></td>
      <td data-ng-bind="bank.accountCode.accountDescription"></td>
      <td>{{ bank.status ? 'Active' : 'Inactive' }}</td>
  </table>
    </tr>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
