html,body{width:100%;}
.carousel,.item,.active{width:100%;}
.carousel-inner{width:100%;}
/*Overwrite bootstrap*/
th{
  vertical-align: middle!important;
  text-align: center!important;
  background-color: #f6f6f6;
}

.body-padding{
  padding: 0px 50px;
}

.nav-padding{
  padding: 0px 25px;
}

.navbar-blue{
  background-color: #3B5CAC;
  border-color: #6C93BB;
  -webkit-box-shadow: 7px 10px 19px -11px rgba(0,0,0,0.3);
  -moz-box-shadow: 7px 10px 19px -11px rgba(0,0,0,0.3);
  box-shadow: 7px 10px 19px -11px rgba(0,0,0,0.3);
}

.navbar-blue .navbar-brand {
  color: #fff;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  color: #fff;
  background-color: #2d4c97;
}
.navbar-blue .navbar-text {
  color: #fff;
}
.navbar-blue .navbar-nav > li > a {
  color: #fff;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #2d4c97;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #d1d8ea;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: ##8ba3db;
}

.navbar-brand {
  font-size:14px!important;
}

/*CSS*/
.button-group{
  float:right;
}

.search-panel .form-group{
  margin-right:10px;
  margin-bottom:5px;
}

.search-heading{
  cursor: pointer;
}

.button-cnt{
  margin-bottom: 10px;
}

.form-horizontal .form-group{
  margin-right: 0px;
  margin-left:  0px;
}

.clear-block{
  clear:both;
}

.alert-footer{
  margin-top: 10px;
}

.alert-body{
  font-size:15px;
}

.btn-fix{
  min-width:80px;
}

.small-font{
  font-size:15px!important;
}

.cell-readonly{
  padding:10px!important;
  padding-left:15px!important;
}

.page-subheader{
  padding-bottom: 0px;
  margin: 20px 0 10px;
  border-bottom: 1px solid #eee;
}

.lineTotal{
  font-size: 20px;
  display: block;
  text-align: right;
  border-top: 1px solid #eee;
  margin: 5px 0px 10px 0;
  padding: 5px 10px 0 0;
}

.table-subtable{
  font-size: 13px;
}

.top-spacing{
  margin-top:20px;
}

.dtl-border{
  border-top:#ccc solid 1px;
  padding:10px;
  margin-bottom: 30px;
  margin-top:5px
}

.dtl-border-top{
  border-bottom:#ccc dashed 1px;
  padding:10px;
  margin-bottom: 10px;
  margin-top:10px;
}

.form-detials{
  font-size:13px;
  color:#777;
}

.form-detials-important{
  font-size:18px;
  color:#333;
}

.dtl-disabled{
  padding:3px 7px;
  font-size:12px;
  color:#777;
}

.dtl-cancelled{
  float:right;
  padding:3px 7px;
  font-size:12px;
  color:#d43f3a;
}

.dtl-left{
  float:left;
}

.dtl-right{
  float:right;
}

.dtl-label{
  font-weight: bold;
}

.dtl-status{
  color:#286090;
  font-weight: bold;
}

.dtl-status-can{
  color:#d43f3a;
  font-weight: bold;
}

.dtl-status-com{
  color:forestgreen;
  font-weight: bold;
}

.label-notbold label{
  font-weight: normal!important;
}

.reqd:after {
  content: ' *';
  color:red;
  font-size: 13px;
  vertical-align: top;
}

.table .form-group{
  margin-bottom:5px!important;
}

.panel-condensed .panel-body{
  padding:5px 20px !important
}

.read-only{
  padding: 10px 5px;
}

.object-table-module div.sorting-container {
  display: none !important;
}

.object-table-module .label.count {
  display: none !important;
}