<section>
  <div class="page-header">
    <h1>{{vm.reference._id ? 'Edit Reference' : 'New Reference'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.referenceForm" class="form-horizontal" ng-submit="vm.save(vm.form.referenceForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="code">Reference Code:</label>
          <select name="code" ng-model="vm.reference.code" id="code" class="form-control" placeholder="Reference Code" required>
            <option value="CATEGORY">CATEGORY</option>
            <option value="COMBINATION">COMBINATION</option>
            <option value="PYMNT_TERM">PYMNT_TERM</option>
            <option value="CURRENCY">CURRENCY</option>
            <option value="COUNTRY">COUNTRY</option>
            <option value="CUSTOMER_TYPE">CUSTOMER_TYPE</option>
            <option value="SUPPLIER_TYPE">SUPPLIER_TYPE</option>
            <option value="PAYMENT_METHOD">PAYMENT_METHOD</option>
            <option value="SUBINV">SUBINV</option>
            <option value="UOM">UOM</option>
          </select>
          <div ng-messages="vm.form.referenceForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Reference code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors ng-show="vm.reference.code === 'COMBINATION'">
          <label class="control-label reqd" for="segmentNumber">Segment Number:</label>
          <input name="segmentNumber" type="number" ng-model="vm.reference.segmentNumber" id="segmentNumber" class="form-control" placeholder="Segment Number" min="1" max="7" ng-required="vm.reference.code === 'COMBINATION'" data-ng-blur="vm.segmentFieldBlur()">
          <div ng-messages="vm.form.referenceForm.segmentNumber.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Segment number is required.</p>
            <p class="help-block error-text" ng-message="min">Segment number should only be between 1-7.</p>
            <p class="help-block error-text" ng-message="max">Segment number should only be between 1-7.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="value">Value Code:</label>
          <input name="value" type="text" ng-model="vm.reference.value" data-ng-blur="vm.valueFieldBlur()" id="value" class="form-control" placeholder="Value Code" required>
          <div ng-messages="vm.form.referenceForm.value.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Value code is required.</p>
            <p class="help-block error-text" ng-message="value_code_duplicate">Combination {{ vm.reference.value }} already exists for segment number {{ vm.reference.segmentNumber }}</p>
            <p class="help-block error-text" ng-message="value_code_max">Only maximum length of {{vm.max}} characters is allowed for segement number {{ vm.reference.segmentNumber }}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="descriptionOne">Value Description 1:</label>
          <input name="descriptionOne" type="text" ng-model="vm.reference.descriptionOne" id="descriptionOne" class="form-control" placeholder="Value Description 1">
          <div ng-messages="vm.form.referenceForm.descriptionOne.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="descriptionTwo">Value Description 2:</label>
          <input name="descriptionTwo" type="text" ng-model="vm.reference.descriptionTwo" id="descriptionTwo" class="form-control" placeholder="Value Description 2">
          <div ng-messages="vm.form.referenceForm.descriptionTwo.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="descriptionThree">Value Description 3:</label>
          <input name="descriptionThree" type="text" ng-model="vm.reference.descriptionThree" id="descriptionThree" class="form-control" placeholder="Value Description 3">
          <div ng-messages="vm.form.referenceForm.descriptionThree.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors ng-show="vm.reference.segmentNumber === 4">
          <label class="control-label" for="accountType">Account Type:</label>
          <select name="accountType" ng-model="vm.reference.accountType" id="accountType" class="form-control" placeholder="Account Type" ng-required="vm.reference.segmentNumber === 4">
            <option value="Asset">Asset</option>
            <option value="Expense">Expense</option>
            <option value="Liability">Liability</option>
            <option value="Ownership">Ownership</option>
            <option value="Revenue">Revenue</option>
          </select>
          <div ng-messages="vm.form.referenceForm.accountType.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="status">Reference Status: </label>
          <select name="status" type="text" ng-model="vm.reference.status" id="status" class="form-control" placeholder="Reference Status" required ng-init="vm.reference.status= vm.reference.status ? true : false" status-option>
          </select>
          <div data-ng-if="vm.reference.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{vm.reference.disabled | date: 'medium'}}
          </div>
          <div ng-messages="vm.form.referenceForm.status.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Reference status is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="references.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="references.create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="vm.reference._id"><i class="glyphicon glyphicon-plus"></i> Add New Reference</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">
        <span class="dtl-label" data-ng-if="vm.reference.updatedBy">Updated By:</span> {{vm.reference.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.reference.updated">Date Updated:</span> {{vm.reference.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.reference.createdBy">Created By:</span> {{vm.reference.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.reference.created">Date Created:</span> {{vm.reference.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>
