<section>
  <div class="page-header">    
    <button class="btn btn-primary" data-ui-sref="references.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Reference</button>
    <h1>References</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <select name="code" ng-model="vm.referenceCode" id="code" ng-change="vm.clearSegmentNumber()" class="form-control" placeholder="Reference Code">
            <option value="" disabled selected>Reference Code</option>
            <option value="CATEGORY">CATEGORY</option>
            <option value="COMBINATION">COMBINATION</option>
            <option value="PYMNT_TERM">PYMNT_TERM</option>
            <option value="CURRENCY">CURRENCY</option>
            <option value="COUNTRY">COUNTRY</option>
            <option value="CUSTOMER_TYPE">CUSTOMER_TYPE</option>
            <option value="SUPPLIER_TYPE">SUPPLIER_TYPE</option>
            <option value="PAYMENT_METHOD">PAYMENT_METHOD</option>
            <option value="SUBINV">SUBINV</option>
            <option value="UOM">UOM</option>
          </select>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" ng-model="vm.valueCode" placeholder="Value Code" typeahead="value for value in _.uniq(_.map(vm.references,'value')) | filter:$viewValue" >
        </div>
        <div class="form-group">
         <input type="text" class="form-control" ng-model="vm.valueDescription" placeholder="Value Description" typeahead="descriptionOne for descriptionOne in _.uniq(_.concat(_.map(vm.references,'descriptionOne'), _.map(vm.references,'descriptionTwo'),_.map(vm.references,'descriptionThree') )) | filter:$viewValue" >
        </div>
        <div class="form-group">
         <input type="text" class="form-control" ng-model="vm.segmentNumber" placeholder="Segment Number" typeahead="descriptionOne for descriptionOne in _.uniq(_.map(vm.references,'segmentNumber')) | filter:$viewValue" ng-show="vm.referenceCode === 'COMBINATION'" >
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="vm.figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="vm.clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="10%">Code</th>
      <th width="10%">Value Code</th>
      <th width="20%">Value Description 1</th>
      <th width="15%">Value Description 2</th>
      <th width="15%">Value Description 3</th>
      <th width="10%">Account Type</th>
      <th width="10%">
      
      <a href="#" ng-click="vm.sortType = 'segmentNumber'; vm.sortReverse = !vm.sortReverse; vm.sortSegmentNumber()">
        Segment Number
        <span ng-show="vm.sortType === 'segmentNumber' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
        <span ng-show="vm.sortType === 'segmentNumber' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
      </a>
      </th>
      <th width="10%">Status</th>
    </tr>
    <tr data-ng-if="!vm.pagedItems.length">
      <td colspan="8" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="reference in vm.pagedItems" data-ui-sref="references.edit({ referenceId: reference._id })">
      <td data-ng-bind="reference.code"></td>
      <td data-ng-bind="reference.value"></td>
      <td data-ng-bind="reference.descriptionOne"></td>
      <td data-ng-bind="reference.descriptionTwo"></td>
      <td data-ng-bind="reference.descriptionThree"></td>
      <td data-ng-bind="reference.accountType"></td>
      <td data-ng-bind="reference.segmentNumber"></td>
      <td>{{ reference.status ? 'Active' : 'Inactive' }}</td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filtered.length" ng-model="vm.currentPage" ng-change="vm.pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
