<section>
  <div class="page-header">
    <button class="btn btn-primary" data-ui-sref="receipts.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Receipt</button>
    <h1>Receipts</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="rnumber" placeholder="Receipt Number" 
            ng-change="searchRNumber()" typeahead="c for c in sr" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="number" placeholder="PO Number" 
            ng-change="searchNumber()" typeahead="c for c in sc" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="supplier" placeholder="Supplier Name"
            ng-change="searchName()" typeahead="sn for sn in sn" typeahead-wait-ms="50">
        </div>
        <div class="form-group input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateFrom" is-open="dateFromStatus.opened" datepicker-options="dateOptions" ng-required="true" max-date="dateTo" close-text="Close" placeholder="Date From" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDate($event,true)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <div class="form-group input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateTo" is-open="dateToStatus.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" min-date="dateFrom" placeholder="Date To" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDate($event,false)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <!--<div class="form-group">
          <input type="text" class="form-control" ng-model="created" placeholder="Created By"
            ng-change="searchUser()" typeahead="u for u in user" typeahead-wait-ms="50">
        </div>-->
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <!--<pre>{{pagedItems | json}}</pre>-->
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="7%">Receipt #</th>
      <th width="18%">Receipt Date</th>
      <th width="10%">Total Amount (Php)</th>
      <th width="7%">PO #</th>
      <th width="13%">Supplier</th>
      <th width="18%">PO Date</th>
      <th width="8%">PO Status</th>
      <th width="20%">Comments</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="8" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="receipt in pagedItems" data-ui-sref="receipts.edit({ receiptId: receipt._id, purchaseOrderId: receipt.purchaseOrder._id })">
      <td data-ng-bind="receipt.number"></td>
      <td data-ng-bind="receipt.date | date : 'mediumDate'"></td>
      <td data-ng-bind=" getTotalAmount(receipt) | currency:''  "></td>
      <td data-ng-bind="receipt.purchaseOrder.number"></td>
      <td data-ng-bind="receipt.purchaseOrder.supplier.name"></td>
      <td data-ng-bind="receipt.purchaseOrder.created | date : 'medium' "></td>
      <td data-ng-bind="receipt.purchaseOrder.status "></td>
      <td data-ng-bind="receipt.comments"></td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
