<section>
  <div class="page-header">
    <h1>{{vm.calendar._id ? 'Edit Calendar' : 'New Calendar'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.calendarForm" class="form-horizontal" ng-submit="vm.save(vm.form.calendarForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="periodNumber">Period Number: </label>
          <input name="periodNumber" ng-model="vm.calendar.periodNumber" id="periodNumber" class="form-control" placeholder="Period Number" required ng-readonly="true">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="periodName">Period Name: </label>
          <input name="periodName" type="text" ng-model="vm.calendar.periodName" id="periodName" class="form-control" placeholder="Period Name" data-ng-blur="vm.onPeriodNameBlur()" required>
          <div ng-messages="vm.form.calendarForm.periodName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Period name is required.</p>
            <p class="help-block error-text" ng-message="unique">Period name already exists.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label " for="fromDate">From Date: </label>
          <div class="input-group">
            <input type="text" name="fromDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.calendar.fromDate" is-open="vm.fromDateOpened" max-date="vm.maxDate" close-text="Close" placeholder="From Date" ng-change="vm.onDatePickerChanged('fromDate')">
            <span class="input-group-btn" required>
              <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('fromDate')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <div ng-messages="vm.form.calendarForm.fromDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">From date is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label " for="fromDate">To Date: </label>
          <div class="input-group">
            <input type="text" name="toDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.calendar.toDate" is-open="vm.toDateOpened" min-date="vm.minDate" close-text="Close" placeholder="To Date" ng-change="vm.onDatePickerChanged('toDate')">
            <span class="input-group-btn" required>
              <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('toDate')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <div ng-messages="vm.form.calendarForm.toDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">To date is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="status">Status: </label>
          <select name="status" ng-init="vm.calendar.status = vm.calendar._id ? vm.calendar.status : 'Future';" ng-model="vm.calendar.status" id="status" class="form-control" placeholder="Status" ng-disabled="true">
            <option value="Open">Open</option>
            <option value="Future">Future</option>
            <option value="Closed">Closed</option>
          </select>
          <div ng-messages="vm.form.calendarForm.status.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Status is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="calendars.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="calendars.create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="vm.calendar._id"><i class="glyphicon glyphicon-plus"></i> Add New Calendar</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">
        <span class="dtl-label" data-ng-if="vm.calendar.updatedBy">Updated By:</span> {{vm.calendar.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.calendar.updated">Date Updated:</span> {{vm.calendar.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.calendar.createdBy">Created By:</span> {{vm.calendar.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.calendar.created">Date Created:</span> {{vm.calendar.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>
