<section>
  <div class="page-header">
    <form class="form-inline" style="float: right;">
<!--       <select ng-model="module" class="form-control" placeholder="Module" style="display: inline;">
        <option value="" disabled selected>Module</option>
        <option value="Inventory">Inventory</option>
        <option value="Accounts Payable">Accounts Payable</option>
        <option value="Accounts Receivable">Accounts Receivable</option>
      </select>
      <select ng-model="period" class="form-control" ng-options="c.periodName as c.periodName for c in calendars | filter:{ module : module }">
        <option value="" disabled selected>Period</option>
      </select>
      <button type="button" class="btn btn-primary" ng-click="postToGL()">Post to GL</button> -->
      <button class="btn btn-primary" data-ui-sref="calendars.create"><i class="glyphicon glyphicon-plus"></i> Add Calendar</button>
    </form>
    <h1>Calendar</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="periodName" placeholder="Period Name"
            ng-change="searchPeriod()" typeahead="p for p in ps" typeahead-wait-ms="50">
        </div>      
        <div class="form-group">
          <input name="periodNumber" type="number" ng-model="periodNumber" id="periodNumber" class="form-control" placeholder="Period Number" min="1" max="12" style="width: 150px !important;">
        </div>
        <div class="form-group">
          <select name="status" ng-model="status" id="type" class="form-control" placeholder="Status">
            <option value="" selected>Status</option>
            <option value="Open">Open</option>
            <option value="Future">Future</option>
            <option value="Closed">Closed</option>
          </select>
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="30%">Period Name</th>
      <th width="10%">From Date</th>
      <th width="10%">To Date</th>
      <th width="15%">Module</th>
      <th width="15%">Module Status</th>
      <th width="5%">Period Number</th>
      <th width="10%">Calendar Status</th>
<!--       <th width="10%" colspan="2">Actions</th> -->
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="8" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="calendar in pagedItems" data-ui-sref="calendars.edit({ calendarId: calendar._id })">
      <td data-ng-bind="calendar.periodName"></td>
      <td data-ng-bind="calendar.fromDate | date: 'MMM dd, yyyy'"></td>
      <td data-ng-bind="calendar.toDate | date: 'MMM dd, yyyy'"></td>
      <td data-ng-bind="calendarModules(calendar.module)"></td>
      <td data-ng-bind="moduleStatus(calendar.module)"></td>
      <td data-ng-bind="calendar.periodNumber"></td>
      <td data-ng-bind="calendarStatus(calendar.module)"></td>
<!--       <td>
        <button type="button" ng-click="openCalendar($event, calendar)" class="btn btn-primary">Open</button>
      </td>
      <td>
        <button type="button" ng-click="confirmDialog($event, calendar)" class="btn btn-primary">Close</button>
      </td> -->
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
