<section>
  <div class="page-header">
    <h1>On-hand Quantity</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
      </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <!--<div class="form-group">
          <input type="text" class="form-control" ng-model="item" placeholder="Item"
            ng-change="seachItem()" typeahead="i for i in it" typeahead-wait-ms="50">
        </div>-->
        <div class="form-group">
          <input type="text" class="form-control" ng-model="description" placeholder="Item"
            ng-change="searchDescription()" typeahead="s for s in desc" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="subInventory" placeholder="Sub-inventory"
            ng-change="searchSubInv()" typeahead="s for s in sub" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="serial" placeholder="Serial"
            ng-change="searchSerial()" typeahead="se for se in ser" typeahead-wait-ms="50">
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="10%">Category</th>
      <th width="20%">Item</th>
      <th width="7%">On-hand Quantity</th>
      <th width="10%">UOM</th>
      <th width="7%">Default Purchased Price (Php)</th>
      <th width="7%">Selling Price (Php)</th>
      <th width="7%">Unit Price (Php)</th>
      <th width="25%">Inventory Account Code</th>
      <th width="7%" colspan="2">Actions</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="10" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="onHand in pagedItems">
      <td data-ng-bind="onHand.item.category.value"></td>
      <td>{{onHand.item.code}} - {{onHand.item.description}}</td>
      <td data-ng-bind="onHand.quantity"></td>
      <td data-ng-bind="onHand.item.uom.value"></td>
      <td data-ng-bind="onHand.item.purchasedPrice | currency:''"></td>
      <td data-ng-bind="onHand.item.sellingPrice | currency:''"></td>
      <td data-ng-bind="onHand.unitPrice | currency:''"></td>
      <td data-ng-bind="onHand.item.accountCode.accountDescription"></td>
      <td>
        <button type="button" name="showSerials" data-toggle="modal" data-target="#serialModal" ng-click="setSelectedIndex(onHand, $index)" class="btn btn-primary">Serials</button>
      </td>
      <td>
        <button type="button" name="showTransaction" data-toggle="modal" data-target="#transactionModal"  ng-click="setSelectedIndex(onHand, $index)" class="btn btn-primary">Transactions</button>
      </td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>


<div class="modal fade" id="serialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Serials</h3>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
        <tr>
          <th width="10%">Serial Number</th>
          <th width="40%">Sub-inventory</th>
          <th width="10%">Quantity</th>
        </tr>
        <tr data-ng-if="pagedItems[selectedIndex].serials.length === 0">
          <td colspan="3" align="center">No serials found</td>
        </tr>
        <tr data-ng-repeat="se in pagedItems[selectedIndex].serials">
          <td data-ng-bind="se.serial"></td>
          <td>{{ se.subInventory.descriptionOne }} - {{ se.subInventory.descriptionTwo }} - {{ se.subInventory.descriptionThree }}</td>
          <td data-ng-bind="se.quantity"></td>
        </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Transactions</h3>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
        <tr>
          <th width="5%">Transaction No.</th>
          <th width="5%">PO No.</th>
          <th width="35%">Date</th>
          <th width="20%">Source</th>
          <th width="20%">Action</th>
          <th width="5%">Quantity</th>
        </tr>
        <tr data-ng-if="pagedItems[selectedIndex].transactions.length === 0">
          <td colspan="6" align="center">No Transaction found</td>
        </tr>
        <tr data-ng-repeat="txn in pagedItems[selectedIndex].transactions">
          <td data-ng-bind="txn.transactionNo"></td>
          <td data-ng-bind="txn.purchaseNo"></td>
          <td data-ng-bind="txn.date | date: 'short'"></td>
          <td data-ng-bind="txn.source"></td>
          <td data-ng-bind="txn.action"></td>
          <td style="font-weight: bold">
            <span ng-if="txn.action === 'Issuance'" style="color : red;">
              ({{ txn.quantity }})
            </span>
            <span ng-if="txn.action === 'Receipt'" style="color : green;">
              {{ txn.quantity }}
            </span>
            <span ng-if="txn.action === 'Transfer'" style="color : blue;">
              {{ txn.quantity }}
            </span>
          </td>
        </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
