<section ng-controller="HomeController">  
  <div>
    <carousel interval="5000">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <!--<h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>-->
        </div>
      </slide>
    </carousel>
  </div>

</section>
