<section>
  <div class="page-header">
    <h1>General Ledger Inquiry</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
      <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
      <span style="float: right;">
        <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
      </span>
      </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form>
        <div class="form-row">
          <div class="col-md-6">
            <input name="accountCode" type="text" ng-model="vm.glAccountCode" id="accountCode" class="form-control" placeholder="Account Code" typeahead="ac as ac.accountDescription for ac in vm.accountCodes| filter:$viewValue:$emptyOrMatch | unique:'minorAccount._id'" typeahead-click-open>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-success" ng-click="vm.searchRec()" ng-disabled="!vm.glAccountCode">
            <i class="glyphicon glyphicon-search"></i> Show Balance
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="30%">Period</th>
      <th width="40%">Balance</th>
      <th width="30%">Balance Details</th>
    </tr>
    <tr data-ng-if="!vm.generalLedgers.length">
      <td colspan="3" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="ledger in vm.generalLedgers" >
      <td data-ng-bind="ledger.period | date : 'mediumDate'"></td>
      <td data-ng-bind="vm.getTotalAmount(ledger) | currency:''  "></td>
      <td><button type="button" class="btn btn-success" ng-click="vm.viewSummary(vm.glAccountCode, ledger)">Show Balance Details</td>
    </tr>
  </table>
  <div class="panel">
  <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
</div>
</section>