<section>
  <div class="page-header">
    <h1>GL Summary</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Show Balance Details</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
      </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form>
        <div class="form-group">
           <input name="accountCode" type="text" ng-model="vm.accountCode" id="accountCode" class="form-control" ng-readonly="true">
        </div>
        <div class="form-group">
           <input name="period" type="text" ng-model="vm.period" id="period" class="form-control" ng-readonly="true">
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="10%">Source</th>
      <th width="15%">GL Date</th>
      <th width="30%">Journal Name</th>
      <th width="5%">Document No.</th>
      <th width="10%">Debit</th>
      <th width="10%">Credit</th>
      <th width="5%">Reversal Status</th>
      <th width="10%">Created by</th>
      <th width="10%">Updated by</th>
    </tr>
    <tr data-ng-if="!vm.generalLedgers.length">
      <td colspan="5" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="ledger in vm.generalLedgers">
      <td data-ng-bind="ledger.source"></td>
      <td data-ng-bind="ledger.glDate | date : 'mediumDate'""></td>
      <td data-ng-bind="ledger.name"></td>
      <td data-ng-bind="ledger.number"></td>
      <td data-ng-bind="ledger.debit"></td>
      <td data-ng-bind="ledger.credit"></td>
      <td data-ng-bind="ledger.reverseJv"></td>
      <td data-ng-bind="ledger.createdBy"></td>
      <td data-ng-bind="ledger.updatedBy"></td>
    </tr>
  </table>
    <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
