<section>
  <div class="page-header">
    <h1>{{vm.journalVoucher._id ? 'Edit Journal voucher' : 'New Journal voucher'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.journalVoucherForm" class="form-horizontal" ng-submit="vm.save(vm.form.journalVoucherForm.$valid)"  novalidate>
      <fieldset ng-disabled="vm.journalVoucher.status">
        <div class="form-group" show-errors>
          <div ng-hide="!vm.journalVoucher._id">
            <label class="control-label" for="number">Document Number: {{vm.journalVoucher.number}}</label>
          </div>
          <label class="control-label" for="name">Journal Name: </label>
          <input name="name" type="text" ng-model="vm.journalVoucher.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.journalVoucherForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Journal voucher name is required.</p>
          </div>

          <label class="control-label" for="description">Description: </label>
          <input name="description" type="text" ng-model="vm.journalVoucher.description" id="description" class="form-control" placeholder="Description" required>
          <div ng-messages="vm.form.journalVoucherForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Journal voucher description is required.</p>
          </div>
          <label class="control-label" for="status">Posting Status: </label>
          <input name="name" type="text" ng-model="vm.postingStatus" id="status" class="form-control" placeholder="Posting Status" disabled required>    
          <div ng-messages="vm.form.journalVoucherForm.status.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Journal voucher status is required.</p>
          </div>

          <label class="control-label" for="source">Source Name: </label>
          <select name="source" ng-model="vm.journalVoucher.source" id="source" class="form-control" placeholder="Source"
          ng-disabled="vm.validateSource()">
          <option value="" disabled selected>Source</option>
          <option value='Account Payables'>Account Payables</option>
          <option value='Account Receivables'>Account Receivables</option>
          <option value='Inventory'>Inventory</option>
          <option value='Purchasing'>Purchasing</option>
          <option value='General Ledger'>General Ledger</option>
        </select>
        <div ng-messages="vm.form.journalVoucherForm.source.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Journal voucher source is required.</p>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="glDate">Date: </label>
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.journalVoucher.glDate" is-open="vm.date.opened" datepicker-options="dateOptions" ng-change="vm.reloadPeriod()" ng-required="true" close-text="Close" placeholder="Date" name="date"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-messages="vm.form.receiptForm.date.$error" role="alert">
            </div>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label reqd" for="periodName">Period Name: </label>
          <select name="period" type="text" ng-model="vm.journalVoucher.period" id="period" class="form-control" placeholder="Period" ng-options="period as period.periodName for period in vm.periods track by period._id" required></select>
          <div ng-messages="vm.form.journalVoucherForm.periodName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Period name is required.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="lines">Lines: </label>
          <div>
            <div class="button-cnt button-group">
              <div class="btn btn-primary" ng-click="vm.isUIButtonDisabled('addLine')||vm.addLine()" ng-disabled="vm.isUIButtonDisabled('addLine')"><i class="glyphicon glyphicon-plus"></i> Add Line</div>
            </div>
            <table class="table table-bordered table-condensed table-striped table-hover table-responsive object-table">
              <tr>
                <th width="3%">Line No.</th>
                <th width="35%">Account #</th>
                <th width="15%">Debit(PHP)</th>
                <th width="15%">Credit(PHP)</th>
                <th width="45%">Description</th>
                <th width="3%">Action</th>
              </tr>
              <tr data-ng-repeat="line in vm.journalVoucher.lines track by $index" ng-click="vm.showAccountDesc(line, this)">
                <td>
                  {{vm.journalVoucher.lines[$index].lineNo}}
                </td>
                <td>
                  <div class="input-group" style="overflow-x:auto">
                    <select name="accountCode" type="text" data-ng-model="vm.journalVoucher.lines[$index].accountCode" id="accountCode" class="form-control" placeholder="Account Code" ng-options="ac._id as ac.accountCode for ac in vm.accountCodes" required></select>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ><i class="glyphicon glyphicon-search" ></i></button>
                    </span>
                    <div ng-messages="vm.form.journalVoucherForm.lines[$index].accountCode.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Journal voucher account code is required.</p>
                  </div>
                  </div>
                </td>
                <td>
                  <input name="debit" type="text" data-ng-model="vm.journalVoucher.lines[$index].debit" ng-blur="vm.validateInput(line.debit, 'debit', $index)" id="debit" class="form-control" >
                </td>
                <td>
                  <input name="credit" type="text" data-ng-model="vm.journalVoucher.lines[$index].credit" ng-blur="vm.validateInput(line.credit, 'credit', $index)" id="credit" class="form-control" >
                </td>
                <td>
                  <input name="lineDescription" type="text" data-ng-model="vm.journalVoucher.lines[$index].lineDescription" id="lineDescription" class="form-control" required>
                  <div ng-messages="vm.form.journalVoucherForm.lines[$index].lineDescription.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Journal voucher line description is required.</p>
                  </div>
                </td>
                <td ng-show="true">
                  <div class="btn btn-danger" ng-disabled="vm.isUIButtonDisabled('lineAction')" ng-click="vm.isUIButtonDisabled('lineAction')||vm.deleteLine($index)"><i class="glyphicon glyphicon-trash"></i> </div>
                </td>
              </tr>
              <tr data-ng-if ="vm.journalVoucher.lines.length">
                <td colspan="2" align="right"><b>Total JV Amount:</b></td>
                <td>{{vm.totalDebit}}</td>
                <td>{{vm.totalCredit}}</td>
                <td colspan="3"></td>
              </tr>
              <tr data-ng-if="!vm.journalVoucher.lines.length">
                <td colspan="7" align="center">No lines inserted</td>
              </tr>
            </table>
          </div>
        </div> 
        <div class="form-group">
          <input name="accountDesc" type="text" ng-model="vm.accountDesc" id="accountDesc" class="form-control" placeholder="Account Description of Line" disabled>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" ng-disabled="vm.isUIButtonDisabled('save')">{{vm.journalVoucher._id ? 'Update' : 'Create'}}</button>
        <button type="button" class="btn btn-default" data-ui-sref="journal-vouchers.list">Back</button>
        <div ng-disabled="vm.isUIButtonDisabled('reverseJv')" ng-click="vm.isUIButtonDisabled('reverseJv')||vm.reverseJv()" class="btn btn-primary">Reverse JV</div>
        <div ng-show="vm.journalVoucher._id && vm.journalVoucher.status=='Unposted'" ng-click="vm.finalPost()" class="ng-hide btn btn-primary">Final Post</div>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
  <div class="form-group" data-ng-if="vm.journalVouchersList.length > 1">
    <select name="journalVouchers" type="text" id="journalVouchers" ng-model="vm.selectedVoucher" class="form-control" placeholder="Journal Vouchers" ng-options="journalVoucher._id as journalVoucher.name for journalVoucher in vm.journalVouchersList" ng-change="vm.journalVoucherChange()"></select>
  </div>
</div>
</section>
