        <section>
          <script type="text/javascript">
            jQuery(function(){
        
              // jQuery creates it's own event object, and it doesn't have a
              // dataTransfer property yet. This adds dataTransfer to the event object.
              // Thanks to l4rk for figuring this out!
              jQuery.event.addProp('dataTransfer');
            });
          </script>
          <div class="page-header">
            <h1>Journals</h1>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading search-heading">
              <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
                <i class="glyphicon glyphicon-search"></i>
                <strong>Search</strong>
                <span style="float: right;">
                  <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
                </span>
              </h4>
            </div>
            <div class="collapse in panel-body search-panel" id="panel-body">
              <form class="form-group">
                <div class="row">
                  <div class="col-sm-5 col1">
                    <select name="batch" type="text" ng-model="vm.batchName" id="batchName" class="form-control" ng-options="batch._id as batch.batchName for batch in vm.batches" placeholder="Batch Name"></select>
                    </select>
                  </div>
                  <div class="col-sm-4 col1">
                    <select name="source" ng-model="vm.source" id="source" class="form-control" placeholder="Source">
                      <option value="" disabled selected>Source</option>
                      <option value='Accounts Payable'>Accounts Payable</option>
                      <option value='Accounts Receivable'>Accounts Receivable</option>
                      <option value='Inventory'>Inventory</option>
                      <option value='General Ledger'>General Ledger</option>
                    </select>
                  </div>
                  <div class="col-sm-3 col1">
                    <select name="period" type="text" ng-model="vm.period" id="period" class="form-control" ng-options="calendar._id as calendar.periodName for calendar in vm.calendar" placeholder="Period Name"></select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5 col1">
                    <select name="journalNames" type="text" ng-model="vm.period" id="period" class="form-control" ng-options="calendar._id as calendar.periodName for calendar in vm.calendar"></select>
                  </div>
                  <div class="col-sm-4 col1">
                    <select name="source" ng-model="vm.category" id="category" class="form-control" placeholder="Category">
                      <option value="" disabled selected>Category</option>
                      <option value='Manual'>Manual</option>
                      <option value='Automatic'>Automatic</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5 col1">
                    <select name="debit" type="text" ng-model="vm.debit" id="debit" class="form-control" ng-options="account._id as account.accountDescription for account in vm.chargeAccount"></select>
                  </div>
                  <div class="col-sm-4 col1">
                    <select name="status" ng-model="vm.status" id="status" class="form-control" placeholder="Posting Status">
                      <option value="" disabled selected>Status</option>
                      <option value='Posted'>Posted</option>
                      <option value='Unposted'>Unposted</option>
                    </select>
                  </div>
                  <div class="col-sm-3 col1" align="right">
                    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#panel-body" ng-click="vm.figureOutItemsToDisplay()">
                      <i class="glyphicon glyphicon-search"></i> Search
                    
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="vm.clear()">
                      <i class="glyphicon glyphicon-repeat"></i> Reset
                    
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <table ng-if="!vm.pagedItems.length" class="table table-bordered table-condensed table-striped table-hover table-responsive">
            <tr>
              <th width="5%">Batch</th>
              <th width="5%">Document No.</th>
              <th width="11%">GL Date</th>
              <th width="9%">Posting Status</th>
              <th width="8%">Reversed Status</th>
              <th width="12%">Source Name</th>
              <th width="15%">Journal Name</th>
              <th width="12%">Period Name</th>
              <th width="15%">Journal DR</th>
              <th width="15%">Journal CR</th>
              <th width="7%">Category</th>
            </tr>
            <tr>
              <td colspan="15" align="center">No records found</td>
            </tr>
          </table>
          <div ng-if="vm.pagedItems.length > 0" object-table data="vm.pagedItems" headers="Batch, Document No., GL Date, Posting Status, Reversed Status, Source Name, Journal Name, Period Name, Journal DR, Journal CR, Category" fields="batchName, number, glDate,status,reverseJv,source,name,period,debitTotal,creditTotal,manual" resize="true" drag-columns="true" search="false" selected-model="vm.voucherRecord" paging="false" sorting="simple" style="overflow-x: scroll;">
            <table class="table table-responsive table-bordered object-table" ng-mousedown="resizeStart($event)" ng-mouseup="resizeEnd($event)" >
              <thead class="ng-scope">
                <tr>
                  <th ng-repeat="headers in vm.pagedItems track by $index" allow-drag="" draggable="true">
                    <div class="resize ng-scope"></div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-if="!vm.pagedItems.length">
                  <td colspan="15" align="center">No records found</td>
                </tr>
                <tr id="voucherRow" data-ng-repeat="voucher in vm.pagedItems track by $index" ng-click="setSelected(voucher)">
                  <td data-ng-bind="voucher.batchId"></td>
                  <td data-ng-bind="voucher.number"></td>
                  <td data-ng-bind="voucher.glDate | date : 'mediumDate'"></td>
                  <td data-ng-bind="voucher.status"></td>
                  <td data-ng-bind="voucher.reverseJv"></td>
                  <td data-ng-bind="voucher.source"></td>
                  <td data-ng-bind="voucher.name"></td>
                  <td data-ng-bind="voucher.period"></td>
                  <td data-ng-bind="voucher.debitTotal | currency"></td>
                  <td data-ng-bind="voucher.creditTotal | currency"></td>
                  <td data-ng-bind="voucher.manual"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
            <div class="panel">
              <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="vm.pageChanged()" style="margin: 0px;"></pagination>
            </div>
            <br>
              <div class="row">
                <div class="col-xs-6" align="left">
                  <div class="input-group">
                    <input type="text" name="fromDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.calendar.fromDate" is-open="vm.fromDateOpened" max-date="vm.maxDate" close-text="Close" placeholder="From Date" ng-change="vm.onDatePickerChanged('fromDate')">
                    <span class="input-group-btn" required>
                      <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('fromDate')">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                    <input type="text" name="toDate" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.calendar.toDate" is-open="vm.toDateOpened" min-date="vm.minDate" close-text="Close" placeholder="To Date" ng-change="vm.onDatePickerChanged('toDate')">
                    <span class="input-group-btn" required>
                      <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('toDate')">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info" ng-click="vm.confirmDialog('batch post', vm.voucherRecord)" ng-disabled="vm.isUIButtonDisabled('BatchPostButton')" disabled="disabled">
                        <i class="glyphicon glyphicon-pushpin"></i> Batch Post
                      </button>
                    </span>
                  </div>
                </div>
                    <div align="right">
                      <button type="button" class="btn btn-info" ng-disabled="vm.isUIButtonDisabled('PostButton')" disabled="disabled" ng-click="vm.confirmDialog('post', vm.voucherRecord)">
                        <i class="glyphicon glyphicon-pushpin"></i> Final Post
              
                      </button>
                      <button type="button" class="btn btn-success" ng-disabled="vm.isUIButtonDisabled('ReverseButton')" ng-click="vm.confirmDialog('reverse', vm.voucherRecord)" disabled="disabled">
                        <i class="glyphicon glyphicon-search"></i> Reverse
              
                      </button>
                      <button type="button" class="btn btn-success" ng-disabled="vm.isUIButtonDisabled('BatchButton')" data-toggle="modal" data-target="#batchReviewModal"  disabled="disabled">
                        <i class="glyphicon glyphicon-search"></i> Review Batch
              
                      </button>
                      <button class="btn btn-primary" data-ui-sref="journal-vouchers.create" href="/journal-vouchers/create">
                        <i class="glyphicon glyphicon-plus"></i> Create Journal
              
                      </button>
                      <button type="button" class="btn btn-success" ng-disabled="vm.isUIButtonDisabled()" data-ui-sref="journal-vouchers.edit({ journalVoucherId: vm.voucherRecord._id })" href="/journal-vouchers//edit" disabled="disabled">
                        <i class="glyphicon glyphicon-search"></i> Review Journal
              
                      </button>
                    </div>
                  </div>
                  <div id="batchReviewModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Review Batch</h4>
                        </div>
                        <div class="modal-body">
                          <table width="100%">
                            <tr>
                              <td>
                                <label>Batch Name:</label>
                              </td>
                              <td data-ng-bind="vm.voucherRecord.batchName"></td>
                              <td>
                                <label>Total Debit:</label>
                              </td>
                              <td data-ng-bind="vm.voucherRecord.batchId.totalDebit | currency"></td>
                            </tr>
                            <tr>
                              <td>
                                <label>Number:</label>
                              </td>
                              <td data-ng-bind="vm.voucherRecord.batchId.number"></td>
                              <td>
                                <label>Total Credit:</label>
                              </td>
                              <td data-ng-bind="vm.voucherRecord.batchId.totalCredit | currency"></td>
                            </tr>
                            <tr>
                              <td>
                                <label>Period:</label>
                              </td>
                              <td data-ng-bind="vm.voucherRecord.period"></td>
                              <td>
                                <label>Reversed Status:</label>
                              </td>
                              <td data-ng-bind="vm.voucherRecord.batchId.reverseJv"></td>
                            </tr>
                            <tr>
                              <td>
                                <label>Batch Posting Date:</label>
                              </td>
                              <td data-ng-bind="vm.voucherRecord.batchId.batchDate | date : 'mediumDate'"></td>
                            </tr>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" ng-disabled="vm.isUIButtonDisabled('BatchReverseButton',vm.voucherRecord)" ng-click="vm.confirmDialog('reverse batch', vm.voucherRecord)">Reverse Batch</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>