<section>
  <div class="page-header">
    <h1 ng-bind="vm.journalVoucher.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.journalVoucher.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="journalVouchers.edit({ journalVoucherId: vm.journalVoucher._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.journalVoucher.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.journalVoucher.user"
            ng-bind="vm.journalVoucher.user.displayName"></span>
      <span ng-if="!vm.journalVoucher.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.journalVoucher.content"></p>
</section>
