<section>
  <div class="page-header">
    <h1>{{vm.supplier._id ? 'Edit Supplier' : 'New Supplier'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.supplierForm" class="form-horizontal" ng-submit="vm.save(vm.form.supplierForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" ng-if="vm.supplier.number" show-errors>
          <label class="control-label" for="number">Supplier Number:</label>
          <input name="number" type="text" ng-model="vm.supplier.number" id="number" class="form-control" placeholder="Supplier Number" readonly>
          <div ng-messages="vm.form.supplierForm.number.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Supplier number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Supplier Name:</label>
          <input name="name" type="text reqd" ng-model="vm.supplier.name" id="name" class="form-control" placeholder="Supplier Name" required>
          <div ng-messages="vm.form.supplierForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Supplier name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="addressOne">Supplier Address 1:</label>
          <input name="addressOne" type="text" ng-model="vm.supplier.addressOne" id="addressOne" class="form-control" placeholder="Supplier Address 1" required>
          <div ng-messages="vm.form.supplierForm.addressOne.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Supplier Address is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="addressTwo">Supplier Address 2:</label>
          <input name="addressTwo" type="text" ng-model="vm.supplier.addressTwo" id="addressTwo" class="form-control" placeholder="Supplier Address 2" required>
          <div ng-messages="vm.form.supplierForm.addressTwo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Supplier Address is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="contactPerson">Contact Person:</label>
          <input name="contactPerson" type="text" ng-model="vm.supplier.contactPerson" id="contactPerson" class="form-control" placeholder="Contact Person" required>
          <div ng-messages="vm.form.supplierForm.contactPerson.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contact person is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="contactNumber">Contact Number:</label>
          <input name="contactNumber" type="text" ng-model="vm.supplier.contactNumber" id="contactNumber" class="form-control" placeholder="Contact Number" required>
          <div ng-messages="vm.form.supplierForm.contactNumber.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contact number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="paymentTerms">Payment Terms: </label>
          <select name="paymentTerms" type="text" ng-model="vm.supplier.paymentTerms" id="paymentTerms" class="form-control" placeholder="Payment Terms" ng-options="pt._id as pt.value for pt in vm.paymentTerms" required></select>
          <div ng-messages="vm.form.supplierForm.paymentTerms.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Payment Terms is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="supplierType">Supplier Type: </label>
          <select name="supplierType" type="text" ng-model="vm.supplier.supplierType" id="supplierType" class="form-control" placeholder="Supplier Type" ng-options="st._id as st.value for st in vm.supplierTypes" required></select>
          <div ng-messages="vm.form.supplierForm.supplierType.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Supplier Type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="currency">Currency: </label>
          <select name="currency" type="text" ng-model="vm.supplier.currency" id="currency" class="form-control" placeholder="Currency" ng-options="cur._id as cur.value for cur in vm.currencies" required>
          </select>
          <div ng-messages="vm.form.customerForm.currency.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="paymentMethod">Payment Method: </label>
          <select name="paymentMethod" type="text" ng-model="vm.supplier.paymentMethod" id="paymentMethod" class="form-control" placeholder="Payment Method" ng-options="pm._id as pm.value for pm in vm.paymentMethods" required>
          </select>
          <div ng-messages="vm.form.customerForm.currency.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="vat">VAT: </label>
          <select name="vat" type="text" ng-model="vm.supplier.vat" id="vat" class="form-control" placeholder="VAT" ng-options="v._id as v.code for v in vm.vats" required>
          </select>
          <div ng-messages="vm.form.customerForm.currency.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="withholdingTax">Withholding Tax: </label>
          <select name="withholdingTax" type="text" ng-model="vm.supplier.withholdingTax" id="withholdingTax" class="form-control" placeholder="Withholding Tax" ng-options="wt._id as wt.code for wt in vm.withholdingTaxes" required>
          </select>
          <div ng-messages="vm.form.customerForm.currency.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>
         <div class="form-group" show-errors>
          <label class="control-label reqd" for="countryCode">Country Code: </label>
          <select name="countryCode" type="text" ng-model="vm.supplier.countryCode" id="countryCode" class="form-control" placeholder="Country Code" ng-options="cc._id as cc.value for cc in vm.countryCodes" required>
          </select>
          <div ng-messages="vm.form.customerForm.currency.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="tin">TIN:</label>
          <input name="tin" type="text" ng-model="vm.supplier.tin" id="tin" class="form-control" placeholder="TIN" required>
          <div ng-messages="vm.form.supplierForm.tin.$error" role="alert">
            <p class="help-block error-text" ng-message="required">TIN is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label reqd" for="accountCode">Account Code: </label>
          <div class="input-group">
            <select name="accountCode" type="text" ng-model="vm.supplier.accountCode" id="accountCode" class="form-control" placeholder="Account Code" ng-options="ac._id as ac.accountDescription for ac in vm.accountCodes" required></select>
            <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ><i class="glyphicon glyphicon-search" ></i></button>
            </span>
          </div>
          <div ng-messages="vm.form.supplierForm.accountCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>  
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="status">Supplier Status: </label>
          <select name="status" ng-model="vm.supplier.status" id="status" class="form-control" placeholder="Supplier Status" required ng-init="vm.supplier.status = vm.supplier.status ? true : false" status-option>
          </select>
          <div data-ng-if="vm.supplier.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{vm.supplier.disabled | date: 'medium'}}
          </div>
          <div ng-messages="vm.form.supplierForm.status.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Supplier status is required.</p>              
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="suppliers.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="suppliers.create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="vm.supplier._id"><i class="glyphicon glyphicon-plus"></i> Add New Supplier</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">        
        <span class="dtl-label" data-ng-if="vm.supplier.updatedBy">Updated By:</span> {{vm.supplier.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.supplier.updated">Date Updated:</span> {{vm.supplier.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.supplier.createdBy">Created By:</span> {{vm.supplier.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.supplier.created">Date Created:</span> {{vm.supplier.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>
