<section>
  <div class="page-header">
    <button class="btn btn-primary" data-ui-sref="suppliers.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Supplier</button>
    <h1>Suppliers</h1>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="number" placeholder="Supplier Number"
           ng-change="searchNumber()" typeahead="c for c in cs" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="name" placeholder="Supplier Name"
            ng-change="searchName()" typeahead="n for n in ns" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="paymentTerms" placeholder="Payment Terms"
            ng-change="searchPayment()" typeahead="pt for pt in pts" typeahead-wait-ms="50">
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="5%">Number</th>
      <th width="10%">Name</th>
      <th width="15%">Address</th>
      <th width="10%">Contact Person</th>
      <th width="10%">Contact Number</th>
      <th width="5%">Supplier Type</th>
      <th width="5%">Payment Terms</th>
      <th width="5%">Payment Method</th>
      <th width="5%">Currency</th>
      <th width="5%">Country Code</th>
      <th width="20%">Account Code</th>
      <th width="5%">Status</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="16" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="supplier in pagedItems" data-ui-sref="suppliers.edit({ supplierId: supplier._id })">
      <td data-ng-bind="supplier.number"></td>
      <td data-ng-bind="supplier.name"></td>
      <td>{{supplier.addressOne}} {{supplier.addressTwo}}</td>
      <td data-ng-bind="supplier.contactPerson"></td>
      <td data-ng-bind="supplier.contactNumber"></td>
      <td data-ng-bind="supplier.supplierType.value"></td>
      <td data-ng-bind="supplier.paymentTerms.value"></td>
      <td data-ng-bind="supplier.paymentMethod.value"></td>
      <td data-ng-bind="supplier.currency.value"></td>
      <td data-ng-bind="supplier.countryCode.value"></td>
      <td data-ng-bind="supplier.accountCode.accountDescription"></td>
      <td>{{ supplier.status ? 'Active' : 'Inactive' }}</td>
    </tr>
  </table>
    <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
