<section>
  <div class="page-header">
    <h1>{{user._id ? 'Edit User' : 'New User'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="userForm" ng-submit="save(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="reqd" for="type">Type: </label>
          <select class="form-control" ng-model="type" ng-change="clearUserData()">
            <option value="Admin">Admin</option>
            <option value="Staff">Staff</option>
            <option value="Employee">Employee</option>
          </select>
        </div>
        <div class="form-group" show-errors>
          <label class="reqd" for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required />
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="reqd" for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required />
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="reqd" for="email">Email Address:</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" ng-required="type != 'Employee'" />
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email Address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors ng-show="type != 'Employee'">
          <label ng-class="{reqd : type != 'Employee'}" for="userName">Username:</label>
          <input type="text" id="userName" name="username" class="form-control" ng-model="user.username" placeholder="Username" lowercase ng-required="type != 'Employee'">
          <div ng-messages="userForm.userName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors ng-if="type != 'Employee'">
          <label ng-class="{reqd : type != 'Employee'}" for="passWord">Password:</label>
          <input type="passWord" id="passWord" name="password" class="form-control" ng-model="user.password" placeholder="Password" ng-required="!user._id && type !='Employee'" autocomplete="new-password">
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="reqd" for="status">Status:</label>
          <select type="text" id="status" name="status" class="form-control" ng-model="user.status" ng-init="user.status = user.status ? true : false" status-option>
          </select>
          <div data-ng-if="user.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{user.disabled | date: 'medium'}}}
          </div>
        </div>
        <div  class="form-group" show-errors ng-show="type != 'Employee'">
          <label>Modules:</label>
          <span ng-repeat="category in categories">
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox"  name="selectedCategory[]" value="{{category.category}}" ng-checked="selectedCategories.indexOf(category.category) > -1" ng-click="toggle(category.category, true)"> 
            <label for="{{category.category}}">{{category.category}}</label>
            <span ng-repeat="module in category.modules" class="label-notbold">
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="selectedModules[]" value="{{module}}" ng-checked="selectedModules.indexOf(module) > -1" ng-click="toggle(module, false)">
              <label for="{{module}}">{{module}}</label>
            </span>
          </span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="admin.users">Back</button>
          <button class="btn btn-primary" data-ui-sref="admin.user-create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="user._id"><i class="glyphicon glyphicon-plus"></i> Add New User</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">        
        <span class="dtl-label" data-ng-if="user.updatedBy">Updated By:</span> {{user.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="user.updated">Date Updated:</span> {{user.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="user.createdBy">Created By:</span> {{user.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="user.created">Date Created:</span> {{user.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>
