<section>
  <div class="page-header">
    <button class="btn btn-primary" data-ui-sref="admin.user-create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add User</button>
    <h1>Users</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
     <h4 class="panel-title">
        <strong>Search</strong>
        <span style="float: right; cursor: pointer;">
          <i class="glyphicon glyphicon-search" data-toggle="collapse" data-target="#panel-body"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="username" placeholder="Username"
            ng-change="searchUsername()" typeahead="un for un in uns" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="firstName" placeholder="Firstname"
            ng-change="searchFirstname()" typeahead="fn for fn in fns" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="lastName" placeholder="Lastname"
            ng-change="searchLastname()" typeahead="ln for ln in lns" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="type" placeholder="Type" required>
            <option value="" selected>Type</option>
            <option value="Staff">Staff</option>
            <option value="Admin">Admin</option>
            <option value="Admin">Employee</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="status" placeholder="Status" required>
            <option value="" selected>Status</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
          </select>
        </div>
        <div class="form-group" style="float: right;">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive" style="margin-bottom: 1em;">
    <tr>
      <th width="10%">Username</th>
      <th width="20%">Name</th>
      <th width="20%">Email</th>
      <th width="10%">Type</th>
      <th width="10%">Status</th>
      <th width="15%">Last Login</th>
      <th width="15%">Date Created</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="7" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="user in pagedItems" ui-sref="admin.user-edit({ userId : user._id })" style="cursor: pointer">
      <td ng-bind="user.username"></td>
      <td>{{ user.lastName }}, {{ user.firstName }}</td>
      <td ng-bind="user.email"></td>
      <td ng-switch="getUserType(user.roles)">
          <span ng-switch-when="Admin">Admin</span>
          <span ng-switch-when="Staff">Staff</span>
          <span ng-switch-when="Employee">Employee</span>
      </td>
      <td ng-switch="user.status">
        <span ng-switch-when="true">Active</span>
        <span ng-switch-when="false">Inactive</span>
      </td>
      <td>{{ user.lastLogin | date : 'medium' }}</td>
      <td>{{ user.created | date : 'medium' }}</td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  </div>
</section>
