<section>
  <div class="page-header">
    <h1>{{vm.payment._id ? 'Edit Payment' : 'New Payment'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.paymentForm" class="form-horizontal" ng-submit="vm.save(vm.form.paymentForm.$valid)"  novalidate>
      <fieldset ng-disabled="vm.payment.status">
        <div class="form-group" show-errors>
          <div ng-hide="!vm.payment._id">
          <label class="control-label" for="number">Payment Number: {{vm.payment.number}}</label>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="paymentDate">Payment Date: </label>
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.payment.date" is-open="vm.paymentDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date" name="date"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openPaymentDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <div ng-messages="vm.form.receiptForm.date.$error" role="alert">
              </div>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label reqd" for="bankName">Bank Name: </label>
            <select name="bankName" type="text" ng-model="vm.payment.bank" id="bankName" class="form-control" placeholder="Bank Name" ng-options="bank._id as bank.name for bank in vm.banks" required></select>
            <div ng-messages="vm.form.journalVoucherForm.periodName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Bank name is required.</p>
            </div>
          </div>
<!--      MODIFY ME LATER FOR MULTIPLE ACCOUNT NUMBER INSTANCES
          <div class="form-group" show-errors>
            <label class="control-label reqd" for="bankAccountNum">Bank Account Number: </label>
            <select name="period" type="text" ng-model="vm.payment.bank.accountNumber" id="bankAccountNum" class="form-control" placeholder="Bank Name" ng-options="bank._id as bank.name for bank in vm.banks" required></select>
            <div ng-messages="vm.form.journalVoucherForm.periodName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Bank name is required.</p>
            </div>
          </div> -->

          <!-- <label class="control-label" for="bankAccountNum">Bank Account Number: </label>
          <input name="bankAccountNum" type="text" ng-model="vm.bank.accountNumber" id="bankAccountNum" class="form-control" placeholder="Bank Account Number" required>
          <div ng-messages="vm.form.paymentForm.bank.bankAccountNum.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bank account number is required.</p>
          </div> -->
          <label class="control-label" for="checkSeries">Check series name: </label>
          <input name="checkSeries" type="text" ng-model="vm.payment.checkSeries" id="checkSeries" class="form-control" placeholder="Series name" >    
          <div ng-messages="vm.form.paymentForm.checkSeries.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Check series name is required.</p>
          </div>
          <div>
            <label class="control-label" for="total">Document Number: </label>
            <input name="total" type="number" ng-model="vm.payment.documentNum" id="documentNum" class="form-control" placeholder="Document Number" >    
            <div ng-messages="vm.form.paymentForm.documentNum.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Document Number is required.</p>
            </div>
          </div>
        <div>
          <label class="control-label" for="total">Total Payment Amount: </label>
          <input name="total" type="number" ng-model="vm.payment.total" id="total" class="form-control" placeholder="Payment amount" >    
          <div ng-messages="vm.form.paymentForm.total.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Total Payment Amount is required.</p>
          </div>
        </div>
        <div class="form-group" style="margin-top: 1%">
            <label class="control-label" for="lines">Lines: </label>
            <div>
              <div class="button-cnt button-group">
                <div class="btn btn-primary" ng-click="vm.addLine()" ng-disabled="vm.isUIButtonDisabled('addLine')"><i class="glyphicon glyphicon-plus"></i> Add Line</div>
              </div>
              <table class="table table-bordered table-condensed table-striped table-hover table-responsive object-table">
                <tr>
                  <th width="25%">Invoice No.</th>
                  <th width="25%">Invoice Total Amount</th>
                  <th width="25%">Invoice Remaining Amount</th>
                  <th width="25%">Paid Amount</th>
                </tr>
                <tr data-ng-repeat="line in vm.payment.lines track by $index"">
                  <td>
                  <div class="input-group" style="overflow-x:auto">
                    <select name="invoiceCode" type="text" ng-model="vm.payment.lines[$index].invoice" id="invoiceCode" class="form-control" placeholder="Account Code" ng-options="ic as ic.number for ic in vm.invoices track by ic._id | filter: { number : number }" ng-change="vm.autoFill(vm.payment.lines[$index].invoice, $index)" required></select>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ><i class="glyphicon glyphicon-search" ></i></button>
                    </span>
                  </div>
                  </td>
                  <td>
                    <input name="total" type="text" ng-model="vm.payment.lines[$index].total" ng-blur="vm.validateInput(line.debit, 'debit', $index)" id="total" class="form-control" >
                  </td>
                  <td>
                    <input name="remaining" type="text" ng-model="vm.payment.lines[$index].remaining" ng-blur="vm.validateInput(line.credit, 'credit', $index)" id="remaining" class="form-control" >
                  </td>
                  <td>
                    <input name="paid" type="text" ng-model="vm.payment.lines[$index].paid" id="paid" class="form-control" required>
                  </td>
                  <td ng-show="true">
                    <div class="btn btn-danger" ng-disabled="vm.isUIButtonDisabled('lineAction')" ng-click="vm.isUIButtonDisabled('lineAction')||vm.deleteLine($index)"><i class="glyphicon glyphicon-trash"></i> </div>
                  </td>
                </tr>
                <tr data-ng-if="!vm.payment.lines.length">
                  <td colspan="4" align="center">No lines</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="lines">Distributions: </label>
            <div class="row" style="margin-top: 1%">
              <div class="col-sm-1 col1"></div>
              <div class="col-sm-1 col1">
                <label class="control-label" for="debit">Debit:</label>
              </div>
              <div class="col-sm-3 col1">
                <select name="debit" type="text" ng-model="vm.distributions[0].debit.bank" id="debitBankName" class="form-control" placeholder="Bank Name" ng-options="bank._id as bank.name for bank in vm.banks" required></select>
              </div>
              <div class="col-sm-3 col1">
                <input name="total" type="number" ng-model="vm.distributions[0].debit.total" id="totaldebit" class="form-control" placeholder="Total Payment Amount" >
              </div>
            </div>            <div class="row" style="margin-top: 1%">
              <div class="col-sm-1 col1"></div>
              <div class="col-sm-1 col1">
                <label class="control-label" for="debit">Credit:</label>
              </div>
              <div class="col-sm-3 col1">
                <select name="credit" type="text" ng-model="vm.distributions[0].credit.bank" id="creditBankName" class="form-control" placeholder="Bank Name" ng-options="bank._id as bank.name for bank in vm.banks" required></select>
              </div>
              <div class="col-sm-3 col1">
                <input name="total" type="number" ng-model="vm.distributions[0].credit.total" id="totalCredit" class="form-control" placeholder="Total Payment Amount" >
              </div>
            </div>
          </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" ng-disabled="vm.isUIButtonDisabled('save')">{{vm.payment._id ? 'Update' : 'Create'}}</button>
          <button type="button" class="btn btn-default" data-ui-sref="payments.list">Back</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
