<section>
  <div class="page-header">
    <h1>Payments</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
      <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
      <span style="float: right;">
        <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
      </span>
      </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.supplier" placeholder="Supplier" typeahead="supplier for supplier in _.uniq(_.map(_.map(vm.payments,'supplier'),'name')) | filter:$viewValue">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.number" placeholder="Payment Number" typeahead="number for number in _.map(vm.payments,'number') | filter:$viewValue">
        </div>
       <div class="form-group input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.dateFrom" is-open="vm.paymentDateFrom.opened" datepicker-options="vm.dateOptions" close-text="Close" placeholder="Payment Date From" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="vm.openDateFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </div>
        <div class="form-group input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.dateTo" is-open="vm.paymentDateTo.opened" datepicker-options="vm.dateOptions" close-text="Close" placeholder="Payment Date To" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="vm.openDateTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.invoiceNumber" placeholder="Invoice No" ng-change="searchName()" typeahead="n for n in _.uniq(_.map(vm.payments, 'invoice')) | filter:$viewValue" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="vm.payor" placeholder="Payor" typeahead="type for type in  _.uniq(_.map(vm.payments,'createdBy')) | filter:$viewValue">
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="vm.figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="vm.clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="11%">Supplier</th>
      <th width="11%">Payment No</th>
      <th width="11%">Payment Date</th>
      <th width="11%">Bank Name</th>
      <th width="11%">Bank Account No</th>
      <th width="11%">Total Payment Amount</th>

    </tr>
    <tr data-ng-if="!vm.pagedItems.length">
      <td colspan="15" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="payment in vm.pagedItems" data-ui-sref="payments.edit({ paymentId: payment._id })">
      <td data-ng-bind="payment.supplier.name"></td>
      <td data-ng-bind="paymen.number"></td>
      <td data-ng-bind="payment.date | date : 'medium'"></td>
      <td data-ng-bind="payment.bank.name"></td>
      <td data-ng-bind="payment.bank.acctountNumber"></td>
      <td data-ng-bind="payment.amount"></td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filtered.length" ng-model="vm.currentPage" ng-change="vm.pageChanged()" style="margin: 0px;"></pagination>
  </div>
  <div class="page-footer">
    <button class="btn btn-primary" data-ui-sref="payments.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Create Payment</button>
  </div>
</section>
