<section>
  <div class="page-header">
    <h1>Reports</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="report in vm.reports"
       data-ui-sref="reports.view({ reportId: report._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="report.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="report.user" data-ng-bind="report.user.displayName"></span>
        <span data-ng-if="!report.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="report.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.reports.$resolved && !vm.reports.length">
    No Reports yet, why don't you <a data-ui-sref="reports.create">create one</a>?
  </div>
</section>
