<section>
  <div class="page-header">
    <h1>{{vm.customer._id ? 'Edit Customer' : 'New Customer'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.customerForm" class="form-horizontal" ng-submit="vm.save(vm.form.customerForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" ng-if="vm.customer.number" show-errors>
          <label class="control-label" for="number">Customer Number: </label>
          <input name="number" type="text" ng-model="vm.customer.number"  id="number" class="form-control" placeholder="Customer Number" readonly>
          <div ng-messages="vm.form.customerForm.number.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Customer number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Customer Name: </label>
          <input name="name" type="text" ng-model="vm.customer.name" id="name" class="form-control" placeholder="Customer Name" required>
          <div ng-messages="vm.form.customerForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Customer name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="addressOne">Customer Address 1: </label>
          <input name="addressOne" type="text" ng-model="vm.customer.addressOne" id="addressOne" class="form-control" placeholder="Customer Address 1" required>
          <div ng-messages="vm.form.customerForm.addressOne.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Customer Address is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="addressTwo">Customer Address 2: </label>
          <input name="addressTwo" type="text" ng-model="vm.customer.addressTwo" id="addressTwo" class="form-control" placeholder="Customer Address 2" required>
          <div ng-messages="vm.form.customerForm.addressTwo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Customer Address is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="contactPerson">Contact Person: </label>
          <input name="contactPerson" type="text" ng-model="vm.customer.contactPerson" id="contactPerson" class="form-control" placeholder="Contact Person" required>
          <div ng-messages="vm.form.customerForm.contactPerson.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contact Person is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="contactNumber">Contact Number: </label>
          <input name="contactNumber" type="text" ng-model="vm.customer.contactNumber" id="contactNumber" class="form-control" placeholder="Contact Number" required>
          <div ng-messages="vm.form.customerForm.contactNumber.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contact Number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="paymentTerms">Payment Terms: </label>
          <select name="paymentTerms" type="text" ng-model="vm.customer.paymentTerms" id="paymentTerms" class="form-control" placeholder="Payment Terms" ng-options="pt._id as pt.value for pt in vm.paymentTerms" required>
          </select>
          <div ng-messages="vm.form.customerForm.paymentTerms.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Payment Terms is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="tin">TIN: </label>
          <input name="tin" type="text" ng-model="vm.customer.tin" id="tin" class="form-control" placeholder="TIN" required>
          <div ng-messages="vm.form.customerForm.tin.$error" role="alert">
            <p class="help-block error-text" ng-message="required">TIN is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="customerType">Customer Type: </label>
          <select name="customerType" type="text" ng-model="vm.customer.customerType" id="customerType" class="form-control" placeholder="Customer Type" ng-options="ct._id as ct.value for ct in vm.customerTypes" required>
          </select>
          <div ng-messages="vm.form.customerForm.customerType.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Customer type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="currency">Currency: </label>
          <select name="currency" type="text" ng-model="vm.customer.currency" id="currency" class="form-control" placeholder="Currency" ng-options="cur._id as cur.value for cur in vm.currencies" required>
          </select>
          <div ng-messages="vm.form.customerForm.currency.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Currency is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="paymentMethod">Payment Method: </label>
          <select name="paymentMethod" type="text" ng-model="vm.customer.paymentMethod" id="paymentMethod" class="form-control" placeholder="Payment Method" ng-options="pm._id as pm.value for pm in vm.paymentMethods" required>
          </select>
          <div ng-messages="vm.form.customerForm.paymentMethod.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Payment Method is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="vat">VAT: </label>
          <select name="vat" type="text" ng-model="vm.customer.vat" id="vat" class="form-control" placeholder="VAT" ng-options="v._id as v.code for v in vm.vats" required>
          </select>
          <div ng-messages="vm.form.customerForm.vat.$error" role="alert">
            <p class="help-block error-text" ng-message="required">VAT is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="withholdingTax">Withholding Tax: </label>
          <select name="withholdingTax" type="text" ng-model="vm.customer.withholdingTax" id="withholdingTax" class="form-control" placeholder="Withholding Tax" ng-options="wt._id as wt.code for wt in vm.withholdingTaxes" required>
          </select>
          <div ng-messages="vm.form.customerForm.currency.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Withholding Tax is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="accountCode">Account Code: </label>
          <div class="input-group">
            <select name="accountCode" type="text" ng-model="vm.customer.accountCode" id="accountCode" class="form-control" placeholder="Account Code" ng-options="ac._id as ac.accountDescription for ac in vm.accountCodes" required></select>
            <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ><i class="glyphicon glyphicon-search" ></i></button>
            </span>
          </div>
          <div ng-messages="vm.form.customerForm.accountCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>

         <div class="form-group" show-errors>
          <label class="control-label reqd" for="countryCode">Country Code: </label>
          <select name="countryCode" type="text" ng-model="vm.customer.countryCode" id="countryCode" class="form-control" placeholder="Country Code" ng-options="cc._id as cc.value for cc in vm.countryCodes" required>
          </select>
          <div ng-messages="vm.form.customerForm.countryCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Country Code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="status">Customer Status: </label>
          <select name="status" type="text" ng-model="vm.customer.status" id="status" class="form-control" placeholder="Customer Status" required ng-init="vm.customer.status = vm.customer.status ? true : false" status-option>
          </select>
          <div data-ng-if="vm.customer.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{vm.customer.disabled | date: 'medium'}}            
          </div>
          <div ng-messages="vm.form.customerForm.status.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Customer Status is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="customers.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="customers.create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="vm.customer._id"><i class="glyphicon glyphicon-plus"></i> Add New Customer</button>
        </div>        
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">        
        <span class="dtl-label" data-ng-if="vm.customer.updatedBy">Updated By:</span> {{vm.customer.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.customer.updated">Date Updated:</span> {{vm.customer.updated | date: 'medium'}}   
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.customer.createdBy">Created By:</span> {{vm.customer.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.customer.created">Date Created:</span> {{vm.customer.created | date: 'medium'}}   
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>
