<section>
	<div class="page-header">
		<h1>{{vm.invoice._id ? 'Edit Invoice' : 'New Invoice'}}</h1>
	</div>
	<div class="col-md-12">
		<form name="vm.form.invoiceForm" class="form-horizontal" ng-submit="vm.save(vm.form.invoiceForm.$valid)" novalidate>
			<fieldset>
				<div class="page-subheader">
					<h3>Items</h3>
				</div>

				<table class="table table-bordered table-condensed table-striped table-hover table-responsive table-less table-subtable" id="invoiceTable">
					<thead>
						<tr>
							<th width="5%"></th>
							<th width="10%">Type</th>
							<th width="10%">PO #</th>
							<th width="15%">Supplier Name</th>
							<th width="15%">Supplier Site</th>
							<th width="15%">Invoice Date</th>
							<th width="10%">Invoice #</th>
							<th width="10%">Invoice Currency</th>
							<th width="10%">Invoice Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="invoice in vm.invoice track by $index" ng-click="vm.setSelected(invoice, $index)">
							<td  ng-click="vm.setSelected(invoice, $index)">
							</td>
							<td>
								<select ng-model="invoice.type" class="form-control" placeholder="Type" style="display: inline;">
									<option value="" disabled selected>Invoice Type</option>
									<option value="Standard">Standard</option>
									<option value="Debit">Debit</option>
									<option value="Memo">Memo</option>
								</select>
							</td>
							<td>
								<select name="purchaseOrder" type="text" ng-model="invoice.purchaseOrder" id="purchaseOrder" class="form-control" placeholder="Purchase Order Number" ng-options="purchaseOrder as purchaseOrder.number for purchaseOrder in vm.purchaseOrders track by purchaseOrder.number | orderBy: 'c.date'" required ng-change="vm.selectPONumber(invoice)"></select>
								<div ng-messages="vm.form.invoiceForm.purchaseOrder.$error" role="alert">
									<p class="help-block error-text" ng-message="required">Purchase Order is required.</p>
								</div>
							</td>
							<td>
								<select name="supplier" type="text" ng-model="invoice.supplier" id="supplier" class="form-control" placeholder="Supplier" ng-options="supp as supp.name for supp in vm.suppliers track by supp._id" required ng-change="vm.fillSupplierInfo(invoice.supplier, $index)"></select>
								<div ng-messages="vm.form.invoiceForm.supplier.$error" role="alert">
									<p class="help-block error-text" ng-message="required">Supplier is required.</p>
								</div>
							</td>
							<td>
								<input name="suppSite" type="text" ng-model="vm.suppSite[$index].address" id="suppSite" class="form-control" placeholder="Supplier Site">
							</td>
							<td>
								<div class="form-group input-group">
									<input type="text" name="date"  ng-model="invoice.date" class="form-control" datepicker-popup="dd-MMMM-yyyy" is-open="vm.invoiceDateForm[$index].opened" datepicker-options="vm.invDateOptions" close-text="Close" placeholder="Invoice Date" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="vm.invOpenDate($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
							</td>
							<td>
								<input name="invNumber" type="text" ng-model="invoice.number" id="invNumber" class="form-control">
							</td>
							<td>
								<select name="currency" type="text" ng-model="invoice.currency" id="currency" class="form-control" placeholder="Currency" ng-options="cur as cur.value for cur in vm.currencies track by cur.value" required></select>
							</td>
							<td>
								<input name="invAmount" type="number" ng-model="invoice.amount" min=0 id="invAmount" class="form-control" placeholder="Invoice Amount" ng-change="vm.validateTotal(invoice.amount, $index)">
							</td>
						</tr>
					</tbody>
					<!-- <tfoot>
						<tr>
							<td colspan="10" style="text-align: left;">
								<button type="button" class="btn btn-lg btn-block " id="addrow" ng-click="vm.addRow(invoice)">Add Row</button>
							</td>
						</tr>
						<tr>
						</tr>
					</tfoot> -->
				</table>
				<div class="row">
					<div class="col-md-12">
						<div class="panel with-nav-tabs panel-default">
							<div class="panel-heading">
								<ul class="nav nav-tabs">
									<li class="col-md-4"><a href="#tabGeneral" data-toggle="tab">General</a></li>
									<li class="col-md-4"><a href="#tabLines" data-toggle="tab">Lines</a></li>
								</ul>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tabGeneral">
										<div class="row">
											<div class="col-md-12">
												<h5>Summary</h5>
											</div>
											<div class="form-group col-md-4 col-sm-6" show-errors>
												<label class="control-label" for="items"  min=0>Items Total: </label>
												<input name="items" type="number" ng-model="vm.invoice[vm.index].items" id="items" class="form-control" placeholder="Items Total" required>

												<label class="control-label" for="withholding" >Withholding: </label>
												<select name="withholdingTax" type="text" ng-model="vm.invoice[vm.index].withholdingTax" id="withholdingTax" class="form-control" placeholder="Withholding Tax" ng-options="with as with.code for with in vm.withholdingTaxes track by with._id"></select>

												<label class="control-label" for="subtotal"  min=0>Subtotal: </label>
												<input name="subtotal" type="number" ng-model="vm.subtotal[vm.index]" id="subtotal" class="form-control" required placeholder="Subtotal">
												<div ng-messages="vm.form.invoiceForm.subtotal.$error" role="alert">
													<p class="help-block error-text" ng-message="required">Subtotal is required.</p>
												</div>
												<label class="control-label" for="tax">Tax: </label>
												<select name="tax" type="text" ng-model="vm.invoice[vm.index].tax" id="tax" class="form-control" placeholder="VAT Tax" ng-options="vat as vat.code for vat in vm.vats track by vat._id"></select>

												<label class="control-label" for="total"  min=0>Total: </label>
												<input name="total" type="number" ng-model="vm.total[vm.index]" id="total" class="form-control" placeholder="Total" required>
												<div ng-messages="vm.form.invoiceForm.total.$error" role="alert">
													<p class="help-block error-text" ng-message="required">Total is required.</p>
												</div>
											</div>
											<div class="col-sm-4">
												<h5>Amount Paid</h5>
												<label class="control-label" for="amountPaid"  min=0>PHP: </label>
												<input name="amountPaid" type="number" ng-model="vm.invoice[vm.index].amountPaid" id="amountPaid" class="form-control" placeholder="Amount Paid" required>
												<div ng-messages="vm.form.invoiceForm.amountPaid.$error" role="alert">
													<p class="help-block error-text" ng-message="required">Amount Paid is required.</p>
												</div>
												<label class="control-label" for="paymentTerm">Payment Term: </label>
												<select name="paymentTerms" type="text" ng-model="vm.invoice[vm.index].paymentTerms" id="paymentTerms" class="form-control" placeholder="Payment Terms" ng-options="pt as pt.value for pt in vm.paymentTerms track by pt.value" required></select>
												<div ng-messages="vm.form.invoiceForm.paymentTerm.$error" role="alert">
													<p class="help-block error-text" ng-message="required">Payment Term is required.</p>
												</div>
												<label class="control-label" for="voucherNum">Voucher Number: </label>
												<input name="voucherNum" type="text" ng-model="vm.invoice[vm.index].voucher" id="voucherNum" class="form-control" placeholder="Voucher Number" required>
												<div ng-messages="vm.form.invoiceForm.voucherNum.$error" role="alert">
													<p class="help-block error-text" ng-message="required">Voucher Num is required.</p>
												</div>
											</div>
											<div class="col-sm-4">
												<h5>Status</h5>
												<label class="control-label" for="status">Status: </label>
												<input name="status" type="text" ng-init=null ng-model="vm.invoice[vm.index].status" id="status" required class="form-control" readonly placeholder="Status">
												<label class="control-label" for="referenceInvoice">Reference Invoice: </label>
												<input name="referenceInvoice" type="text" ng-model="invoice.referenceInvoice" id="referenceInvoice" class="form-control" placeholder="Reference Invoice">
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="tabLines">
										<div class="row">
											<div class="form-group col-md-12 col-sm-12">
												<table class="table table-bordered table-condensed table-striped table-hover table-responsive table-less table-subtable">
													<thead>
														<th width="50%">Item</th>
														<th width="10%">Withholding</th>
														<th width="10%">VAT</th>
														<th width="7%">PO #</th>
														<th width="20%">Charge Account</th>
													</thead>
													<tbody>
														<tr data-ng-repeat="invLines in vm.invoice[vm.index].lines track by $index">
															<td>
																<div class="container-fluid">
																	<div class="form-inline row">
																		<div class="col-md-12">
																			<label class="mr-sm-4" for="itemName">Item - Description: </label>
																			<select  name="itemName" type="text" ng-model="invLines.item" id="itemName" class="form-control" ng-options="it as (it.code + ' - ' + it.description) for it in vm.items track by it._id"  ng-change="vm.fillItemDesc(invLines.item, $index)" placeholder="Item Name"></select>
																		</div>
																		<br/><br/><br/>
																		<div class="col-md-12 form-inline">
																			<label class="mr-sm-2" for="itemUom">Item UOM:   </label>
																			<input name="itemUom" type="text" ng-model="invLines.item.uom.value" id="uom" class="form-control"  placeholder="UOM" typeahead="uom._id as uom.value for uom in vm.uoms| filter:$viewValue:$emptyOrMatch | unique:'uom._id'" typeahead-click-open>{{invLines.item.uom.value}}

																			<label class="mr-sm-4 col-sm-offset-1" for="itemAmt"  min=0>Price Amount: </label>
																			<input ng-model="invLines.item.purchasedPrice" name="itemPrice" type="number" id="itemPrice" class="form-control" placeholder="Price" >
																		</div>
																		<br/><br/><br/>
																		<div class="form-inline col-md-12">
																			<label class="mr-sm-4" for="received"  min=0>Quantity:   </label>
																			<input name="received" type="number" ng-model="invLines.received" class="form-control" id="received" class="form-control" placeholder="Qty" ng-change="vm.computeLine()">

																			<label class="mr-sm-4 col-md-offset-1" for="itemAmt"  min=0>Total Amount: </label>
																			<input class="form-control" name="itemAmt" type="number" ng-model="invLines.amount" id="itemAmt" class="form-control"  placeholder="Item Amount" readonly>
																		</div>
																		<br/><br/><br/>
																	</div>
																</div>
															</td>
															<td>
																<select name="linesWithholdingTax" type="text" ng-model="invLines.withholdingTax" id="linesWithholdingTax" class="form-control" placeholder="Withholding Tax" ng-options="wt as wt.code for wt in vm.withholdingTaxes track by wt._id" required></select>
																<div ng-messages="vm.form.invoiceForm.linesWithholding.$error" role="alert">
																	<p class="help-block error-text" ng-message="required">Withholding is required.</p>
																</div>
															</td>
															<td>
																<select name="linesVat" type="text" ng-model="invLines.vat" id="linesTax" class="form-control" placeholder="VAT Tax" ng-options="v as v.code for v in vm.vats track by v._id" required></select>
																<div ng-messages="vm.form.invoiceForm.linesTax.$error" role="alert">
																	<p class="help-block error-text" ng-message="required">Tax is required.</p>
																</div>
															</td>
															<td>
																<select name="linesPurchaseOrder" type="text" ng-model="invLines.linePurchaseOrder" id="linesPurchaseOrder" class="form-control" placeholder="PO Num" ng-options="c as c.number for c in vm.purchaseOrders track by c._id" required></select>
																<div ng-messages="vm.form.invoiceForm.linesPurchaseOrder.$error" role="alert">
																	<p class="help-block error-text" ng-message="required">PO # is required.</p>
																</div>
															</td>
															<td>
																<input name="chargeAccount" type="text" ng-model="invLines.chargeAccount" id="chargeAccount" class="form-control" placeholder="Account Code" typeahead="ac as ac.accountDescription for ac in vm.accountCodes | filter:$viewValue:$emptyOrMatch | unique:'minorAccount._id'" typeahead-click-open>
															</td>
														</tr>
													</tbody>
												</table>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>

			<div class="row">
				<div class="col-md-4 offset-md-2">
					<div class="form-group button-group">
						<button type="submit" class="btn btn-success">
							<i class="glyphicon glyphicon-save"></i>{{vm.invoice[vm.index]._id ? 'Update' : 'Create'}} Invoice
						</button>

						<button type="button" class="btn btn-warning" ng-if="!vm.calculatedInvoice" ng-click="vm.calculateInvoice()">
							<i class="glyphicon glyphicon-repeat"></i> Calculate Invoice
						</button>

						<button type="button" class="btn btn-warning" ng-if="vm.calculatedInvoice" ng-click="vm.resetTax()">
							<i class="glyphicon glyphicon-repeat"></i> Re-calculate Invoice
						</button>
					</div>
				</div>
				<div class="col-md-4 offset-md-2">
					<div class="form-group button-group">
						<button type="button" class="btn btn-success" ng-disabled ng-click="vm.figureOutItemsToDisplay()">
							<i class="glyphicon glyphicon-search"></i> Post To GL
						</button>
						<button type="button" class="btn btn-warning" ng-disabled ng-click="vm.clear()">
							<i class="glyphicon glyphicon-repeat"></i> Validate Invoice
						</button>
					</div>
				</div>
			</div>
		</form>
		<div class="form-detials dtl-border">
			<div class="dtl-left">
				<span class="dtl-label" data-ng-if="vm.invoice[vm.index].updatedBy">Updated By:</span> {{vm.invoice[vm.index].updatedBy.username}}
				<br/>
				<span class="dtl-label" data-ng-if="vm.invoice[vm.index].updated">Date Updated:</span> {{vm.invoice[vm.index].updated | date: 'medium'}}
			</div>
			<div class="dtl-right">
				<span class="dtl-label" data-ng-if="vm.invoice[vm.index].createdBy">Created By:</span> {{vm.invoice[vm.index].createdBy.username}}
				<br/>
				<span class="dtl-label" data-ng-if="vm.invoice[vm.index].created">Date Created:</span> {{vm.invoice[vm.index].created | date: 'medium'}}
			</div>
			<div class="clear-block"></div>
		</div>
	</div>
</section>