<section>
	<div class="page-header">
		<form class="form-inline" style="float: right;">
			<input name="module" ng-model="module" id="module" class="form-control" placeholder="Accounts Payable" required ng-readonly="true">
			<select ng-model="period" class="form-control" ng-options="p.periodName for p in vm.periods">
				<option value="" disabled selected>Period</option>
			</select>
			<button type="button" ng-click="vm.openCalendar($event, period)" class="btn btn-primary">Open</button>
			<button type="button" ng-click="vm.confirmDialog($event, period)" class="btn btn-primary">Close</button>
<!--			<button type="button" class="btn btn-primary" ng-click="postToGL()">Post to GL</button>-->
		</form>
		<h1>Invoices</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading search-heading">
			<h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
		</div>
		<div class="collapse in panel-body search-panel" id="panel-body">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Trading Partner</strong></div>
				<div class="panel-body">
					<div class="row" style="margin-top: 1%">
						<div class="col-sm-1 col1">
							<label class="control-label" for="supplier">Supplier Name: </label>
						</div>
						<div class="col-sm-3 col1">
              <input type="text" class="form-control" ng-model="vm.supplier" typeahead="supplier for supplier in _.uniq(_.map(_.map(vm.invoices,'supplier'),'name')) | filter:$viewValue">
						</div>
            <div class="col-sm-1 col1">
              <label class="control-label" for="supplierSite">Supplier Site: </label>
            </div>
            <div class="col-sm-3 col1">
              <input type="text" class="form-control" ng-model="vm.supplierSite" typeahead="supplierSite for supplierSite in _.uniq(_.map(_.map(vm.invoices,'supplier'),'addressOne')) | filter:$viewValue">
            </div>
					</div>
					<div class="row" style="margin-top: 1%">
						<div class="col-sm-1 col1">
							<label class="control-label" for="purchaseOrderNum">PO Num: </label>
						</div>
						<div class="col-sm-3 col1">
							<input type="text" class="form-control" ng-model="vm.purchaseOrderNum">
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Invoice</strong></div>
				<div class="panel-body">
					<div class="row" style="margin-top: 1%">
						<div class="col-sm-1 col1">
							<label class="control-label" for="invoiceNumber">Number:</label>
						</div>
						<div class="col-sm-3 col1">
							<input type="text" class="form-control" ng-model="vm.invoiceNumber" typeahead="number for number in _.map(vm.invoices,'number') | filter:$viewValue">
						</div>
            <div class="col-sm-1 col1">
              <label class="control-label" for="invoiceType">Type:</label>
            </div>
            <div class="col-sm-3 col1">
              <select name="invoiceType" ng-model="vm.invoiceType" id="invoiceType" class="form-control">
                <option value="" disabled selected>Invoice Type</option>
                <option value='Standard'>Standard</option>
                <option value='Debit'>Debit</option>
                <option value='Credit'>Credit</option>
              </select>
            </div> 
					</div>
					<div class="row" style="margin-top: 1%">
						<div class="col-sm-1 col1">
							<label class="control-label" for="date">Date</label>
						</div>
						<div class="col-sm-3 col1">
              <div class="form-inline">
                <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.date" is-open="vm.invoiceDate.opened" datepicker-options="vm.dateOptions" close-text="Close" />
                <button type="button" class="btn btn-default" ng-click="vm.openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>  
              </div>
						</div>
						<!-- <div class="col-sm-1 col1">
							<label class="control-label" for="invoiceCurrency">Currency</label>
						</div>
            <div class="col-sm-3 col1">
              <select name="invoiceType" ng-model="vm.invoiceCurrency" id="invoiceCurrency" class="form-control">
                <option value="" disabled selected>Currency</option>
                <option value='Standard'>PHP</option>
                <option value='Debit'>USD</option>
              </select>
            </div>  -->
            <div class="col-sm-1 col1">
              <label class="control-label" for="invoiceStatus">Status: </label>
            </div>
            <div class="col-sm-3 col1">
              <select name="invoiceStatus" ng-model="vm.invoiceStatus" id="invoiceStatus" class="form-control">
                <option value="" disabled selected>Status</option>
                <option value='Never Validated'>Never Validated</option>
                <option value='Validated'>Validated</option>
                <option value='Posted'>Posted</option>
                <option value='Cancelled'>Cancelled</option>
              </select>
            </div>
					</div>
				</div>
			</div>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Voucher Audit</strong></div>
        <div class="panel-body">
          <div class="row" style="margin-top: 1%">
            <div class="col-sm-1 col1">
              <label class="control-label" for="voucher">Voucher Number: </label>
            </div>
            <div class="col-sm-5 col1">
              <input type="text" class="form-control" ng-model="vm.voucher" ng-change="searchName()" typeahead="n for n in _.uniq(_.map(vm.invoices, 'voucher')) | filter:$viewValue" typeahead-wait-ms="50">
            </div>
          </div>
        </div> 
      </div>
			<div class="form-group button-group">
				<button type="button" class="btn btn-warning" ng-click="vm.clear()">
					<i class="glyphicon glyphicon-repeat"></i> Reset
				</button>
				<button type="button" class="btn btn-primary" data-ui-sref="invoices.create">
					<i class="glyphicon glyphicon-plus"></i> New
				</button>
				<button type="button" class="btn btn-success" ng-click="vm.figureOutItemsToDisplay()">
					<i class="glyphicon glyphicon-search"></i> Search
				</button>
			</div>
			</form>
		</div>
	</div>

	<table class="table table-bordered table-condensed table-striped table-hover table-responsive">
		<tr>
			<th width="11%">Invoice Type</th>
			<th width="11%">Invoice No.</th>
			<th width="11%">Invoice Date</th>
			<th width="11%">Supplier</th>
			<th width="11%">Payment Terms</th>
			<th width="11%">Invoice Amount</th>
			<th width="11%">Invoice Status</th>
			<th width="11%">PO No</th>
			<th width="11%">Voucher No</th>
		</tr>
		<tr data-ng-if="!vm.pagedItems.length">
			<td colspan="15" align="center">No records found</td>
		</tr>
		<tr data-ng-repeat="invoice in vm.pagedItems" data-ui-sref="invoices.edit({ invoiceId: invoice._id })">
			<td data-ng-bind="invoice.type"></td>
			<td data-ng-bind="invoice.number"></td>
			<td data-ng-bind="invoice.date | date : 'medium'"></td>
			<td data-ng-bind="invoice.supplier.name"></td>
			<td data-ng-bind="invoice.paymentTerms.value"></td>
			<td data-ng-bind="invoice.amount"></td>
			<td data-ng-bind="invoice.status"></td>
			<td data-ng-bind="invoice.purchaseOrder.number"></td>
			<td data-ng-bind="invoice.voucher"></td>
		</tr>
	</table>
	<div class="panel">
		<pagination boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filtered.length" ng-model="vm.currentPage" ng-change="vm.pageChanged()" style="margin: 0px;"></pagination>
	</div>
</section>