<section>
  <div class="page-header">
    <h1>{{vm.item._id ? 'Edit Item' : 'New Item'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.itemForm" class="form-horizontal" ng-submit="vm.save(vm.form.itemForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="code">Item Code: </label>
          <input name="code" type="text" ng-model="vm.item.code" id="code" class="form-control" placeholder="Item Code" required>
          <div ng-messages="vm.form.itemForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Item code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Item Description: </label>
          <textarea name="description" type="text" ng-model="vm.item.description" id="description" class="form-control" placeholder="Item Description"></textarea>
          <div ng-messages="vm.form.itemForm.description.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="category">Category: </label>
          <select name="category" type="text" ng-model="vm.item.category" ng-options="c._id as c.value for c in vm.categories" id="category" class="form-control" placeholder="Category" required></select>
          <div ng-messages="vm.form.itemForm.category.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Category is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="purchasedPrice">Purchased Price: </label>
          <input name="purchasedPrice" type="number" ng-model="vm.item.purchasedPrice" id="purchasedPrice" class="form-control" placeholder="Purchased Price" min="0" step="0.01" required oninput="validity.valid || (value='')">
          <div ng-messages="vm.form.itemForm.purchasedPrice.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Purchased Price is required.</p>
            <p class="help-block error-text" ng-message="number">Purchased Price should be a number.</p>
            <p class="help-block error-text" ng-message="min">Purchased Price cannot be negative.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="sellingPrice">Selling Price: </label>
          <input name="sellingPrice" type="number" ng-model="vm.item.sellingPrice" id="sellingPrice" class="form-control" placeholder="Selling Price" min="0" step="0.01" required oninput="validity.valid || (value='')">
          <div ng-messages="vm.form.itemForm.sellingPrice.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Selling Price is required.</p>
            <p class="help-block error-text" ng-message="number">Selling Price should be a number.</p>
            <p class="help-block error-text" ng-message="min">Selling Price cannot be negative.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="accountCode">Inventory Account Code: </label>
          <div class="input-group">
            <select name="accountCode" type="text" ng-model="vm.item.accountCode" id="accountCode" class="form-control" placeholder="Account Code" ng-options="ac._id as ac.accountDescription for ac in vm.accountCodes" required></select>
            <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ><i class="glyphicon glyphicon-search" ></i></button>
            </span>
          </div>
          <div ng-messages="vm.form.itemForm.accountCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Inventory Account Code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="subInventory">Sub-inventory: </label>
          <select name="subInventory" ng-model="vm.item.subInventory" id="subInventory" class="form-control" placeholder="Sub Inventory" ng-options="si._id as si.value for si in vm.subInventories" required></select>
          <div ng-messages="vm.form.itemForm.subInventory.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Sub-inventory is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="uom">UOM: </label>
          <select name="uom" ng-model="vm.item.uom" id="uom" class="form-control" placeholder="UOM" ng-options="uom._id as uom.value for uom in vm.uoms" required></select>
          <div ng-messages="vm.form.itemForm.uom.$error" role="alert">
            <p class="help-block error-text" ng-message="required">UOM is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="status">Item Status: </label>
          <select name="status" type="text" ng-model="vm.item.status" id="status" class="form-control" placeholder="Item Status" required ng-init="vm.item.status = vm.item.status ? true : false" status-option>
          </select>
          <div data-ng-if="vm.item.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{vm.item.disabled | date: 'medium'}}
          </div>
          <div ng-messages="vm.form.itemForm.status.$error" role="alert">
          	<p class="help-block error-text" ng-message="required">Item status is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="items.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="items.create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="vm.item._id"><i class="glyphicon glyphicon-plus"></i> Add New Item</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">        
        <span class="dtl-label" data-ng-if="vm.item.updatedBy">Updated By:</span> {{vm.item.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.item.updated">Date Updated:</span> {{vm.item.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.item.createdBy">Created By:</span> {{vm.item.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.item.created">Date Created:</span> {{vm.item.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>
