<section>
  <div class="page-header">
    <button class="btn btn-primary" data-ui-sref="items.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
    <h1>Items</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="code" placeholder="Item Code" 
            ng-change="searchCode()" typeahead="c for c in cs" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="description" placeholder="Item Description"
            ng-change="searchDesc()" typeahead="d for d in ds" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="serial" placeholder="Serial/Lot">
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive" style="margin-bottom: 1em;">
    <tr>
      <th width="10%">Code</th>
      <th width="10%">Description</th>
      <th width="10%">Category</th>
      <th width="10%">Purchased Price (Php)</th>
      <th width="10%">Selling Price (Php) </th>
      <th width="30%">Account Code</th>
      <th width="10%">UOM</th>
      <th width="10%">Status</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="8" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="item in pagedItems" data-ui-sref="items.edit({ itemId: item._id })" style="cursor: pointer">
      <td data-ng-bind="item.code"></td>
      <td data-ng-bind="item.description"></td>
      <td data-ng-bind="item.category.value"></td>
      <td>{{ item.purchasedPrice | currency:'' }}</td>
      <td>{{ item.sellingPrice | currency:'' }}</td>
      <td data-ng-bind="item.accountCode.accountDescription"></td>
      <td data-ng-bind="item.uom.value"></td>
      <td>{{ item.status ? 'Active' : 'Inactive' }}</td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
