<section>
  <div class="page-header">
    <h1>{{vm.tax._id ? 'Edit Tax' : 'New Tax'}}</h1>
  </div>
  <div class="col-md-12">

    <form name="vm.form.taxForm" class="form-horizontal" ng-submit="vm.save(vm.form.taxForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="type">Type: </label>
          <select name="type" ng-model="vm.tax.type" id="type" class="form-control" placeholder="Type" required>
            <option value="VAT">VAT</option>
            <option value="WTAX">WTAX</option>
          </select>
          <div ng-messages="vm.form.taxForm.type.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="code">Code:</label>
          <input name="code" type="text" ng-model="vm.tax.code" id="code" class="form-control" placeholder="Code" required>
          <div ng-messages="vm.form.taxForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Code is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description:</label>
          <input name="description" type="text" ng-model="vm.tax.description" id="description" class="form-control" placeholder="Description">
          <div ng-messages="vm.form.taxForm.description.$error" role="alert">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="rate">Rate:</label>
          <input name="rate" type="number" ng-model="vm.tax.rate" id="rate" class="form-control" placeholder="Rate" min="0" required>
          <div ng-messages="vm.form.taxForm.rate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Rate is required.</p>
            <p class="help-block error-text" ng-message="number">Rate should be a number.</p>
            <p class="help-block error-text" ng-message="min">Rate cannot be negative.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="supplier">Remit to supplier: </label>
          <select name="supplier" type="text" ng-model="vm.tax.remitToSupplier" id="supplier" class="form-control" placeholder="Supplier" ng-options="supp._id as supp.name for supp in vm.supplier"></select>
          <div ng-messages="vm.form.taxForm.supplier.$error" role="alert">
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label reqd" for="remitToAccount">Remit to Account Code: </label>
          <div class="input-group">
            <select name="accountCode" type="text" ng-model="vm.tax.remitToAccount" id="remitToAccount" class="form-control" placeholder="Account Code" ng-options="ac._id as ac.accountDescription for ac in vm.accountCodes" required></select>
            <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ><i class="glyphicon glyphicon-search" ></i></button>
            </span>
          </div>
          <div ng-messages="vm.form.taxForm.remitToAccount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Remit to Account Code is required.</p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="accountCode">Account Code: </label>
          <div class="input-group">
            <select name="accountCode" type="text" ng-model="vm.tax.accountCode" id="accountCode" class="form-control" placeholder="Account Code" ng-options="ac._id as ac.accountDescription for ac in vm.accountCodes" required></select>
            <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ><i class="glyphicon glyphicon-search" ></i></button>
            </span>
          </div>
          <div ng-messages="vm.form.taxForm.accountCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label reqd" for="status">Tax Status: </label>
          <select name="status" type="text" ng-model="vm.tax.status" id="status" class="form-control" placeholder="Tax Status" required ng-init="vm.tax.status = vm.tax.status ? true : false" status-option>
          </select>
          <div data-ng-if="vm.tax.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{vm.tax.disabled | date: 'medium'}}}
          </div>
          <div ng-messages="vm.form.taxForm.status.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Tax status is required.</p>  
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-ui-sref="taxes.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="taxes.create" data-ui-sref-opts="{reload: true}" style="float: right;" ng-show="vm.tax._id"><i class="glyphicon glyphicon-plus"></i> Add New Tax</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">        
        <span class="dtl-label" data-ng-if="vm.tax.updatedBy">Updated By:</span> {{vm.tax.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.tax.updated">Date Updated:</span> {{vm.tax.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.tax.createdBy">Created By:</span> {{vm.tax.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.tax.created">Date Created:</span> {{vm.tax.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>
