<section>
  <div class="page-header">
    <button class="btn btn-primary" data-ui-sref="taxes.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Tax</button>
    <h1>Taxes</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <select class="form-control" ng-model="type" placeholder="Tax Type" required>
            <option value="" disabled selected>Type</option>
            <option value="VAT">VAT</option>
            <option value="WTAX">WTAX</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="code" placeholder="Tax Code"
            ng-change="searchCode()" typeahead="c for c in cs" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="status" placeholder="Status" required>
            <option value="" disabled selected>Status</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
          </select>
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="10%">Type</th>
      <th width="10%">Code</th>
      <th width="10%">Description</th>
      <th width="10%">Rate</th>
      <th width="10%">Remit to Supplier</th>
      <th width="20%">Remit to Account Code</th>
      <th width="20%">Account Code</th>
      <th width="10%">Status</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="8" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="tax in pagedItems" data-ui-sref="taxes.edit({ taxId: tax._id })">
      <td data-ng-bind="tax.type"></td>
      <td data-ng-bind="tax.code"></td>
      <td data-ng-bind="tax.description"></td>
      <td data-ng-bind="tax.rate"></td>      
      <td data-ng-bind="tax.remitToSupplier.name"></td>
      <td data-ng-bind="tax.remitToAccount.accountDescription"></td>
      <td data-ng-bind="tax.accountCode.accountDescription"></td>
      <td>{{ tax.status ? 'Active' : 'Inactive' }}</td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
