<section>
  <div ng-class="!vm.purchaseOrder._id ? 'page-header': 'top-spacing'">
    <h1 data-ng-if="!vm.purchaseOrder._id">New Purchase Order</h1>
  </div>

  <div class="form-detials-important dtl-border-top" data-ng-if="vm.purchaseOrder.number">
    <div class="dtl-left">
      <span class="dtl-label">PURCHASE ORDER NO.:</span> {{vm.purchaseOrder.number}} (
      <span ng-class="vm.purchaseOrder.status == 'Closed' ? 'dtl-status-can' : vm.purchaseOrder.status == 'Completed' ? 'dtl-status-com' : 'dtl-status' ">{{vm.purchaseOrder.status}}</span>)
      <br/>
      <span class="small-font"><span class="dtl-label">Total Amount:</span> {{ vm.computeTotal(vm.purchaseOrder.lines) |
      currency:'' }}</span>
    </div>
    <div class="dtl-right small-font">
      {{vm.purchaseOrder.created | date: 'EEEE M/d/yy h:mm:ss a'}}
    </div>
    <div class="clear-block"></div>
  </div>

  <div data-ng-if="vm.purchaseOrder.closedDate" class="dtl-cancelled small-font">
    <span class="dtl-label">Closed Date:</span> {{vm.purchaseOrder.closedDate | date: 'EEEE M/d/yy h:mm:ss a'}}
  </div>

  <div class="col-md-12">
    <form name="vm.form.purchaseOrderForm" class="form-horizontal" ng-submit="vm.save(vm.form.purchaseOrderForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="supplier">Supplier: </label>
          <select name="supplier" type="text" ng-model="vm.purchaseOrder.supplier._id" id="supplier" class="form-control" placeholder="Supplier"
            ng-options="supp._id as supp.name for supp in vm.supplier" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"
            required></select>
          <div ng-messages="vm.form.purchaseOrderForm.supplier.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Supplier is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Comments: </label>
          <textarea name="comments" type="text" ng-model="vm.purchaseOrder.comments" id="comments" class="form-control" placeholder="Comments"
            ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"></textarea>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="date">Date: </label>
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.purchaseOrder.date" is-open="vm.poDate.opened"
              datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date" name="date" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"
            />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.purchaseOpenDate($event)" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-messages="vm.form.purchaseOrderForm.date.$error" role="alert">
            </div>
          </div>
        </div>
        <br/>

        <div class="button-cnt button-group" ng-show="!vm.purchaseOrder.status || vm.purchaseOrder.status === 'Open'">
          <div class="btn btn-primary" ng-click="vm.addLine(vm.purchaseOrder.lines)"><i class="glyphicon glyphicon-plus"></i> Add Item</div>
        </div>

        <div class="page-subheader">
          <h3>Items</h3>
        </div>

        <div data-ng-if="!vm.purchaseOrder.lines.length">
            <div align="center">No records found</div>
          </div>

        <div class="panel panel-default panel-condensed" data-ng-repeat="list in vm.purchaseOrder.lines | orderBy:'item.code'">
          <div class="panel-heading">
            <strong>Status:</strong> {{list.status}}
            <span class="pull-right">
              <div class="btn btn-danger btn-xs" ng-click="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open' || vm.deleteLine($index)"
              ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'">Delete</div>
            </span>
            <div class="clearfix"></div>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="form-group col-md-4 col-sm-6" show-errors>
                <label class="control-label reqd" for="item">Item: </label>
                <select name="item" type="text" ng-model="list.item._id" id="item" class="form-control" ng-options="it._id as (it.code + ' - ' + it.description) for it in vm.items"
                  required ng-change="vm.selectItem(list)" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"></select>
              </div>
              <div class="form-group col-md-4 col-sm-6" show-errors>
                <label class="control-label reqd" for="uom">UOM: </label>
                <select name="uom" type="text" ng-model="list.uom._id" id="item" class="form-control" ng-options="uom._id as uom.value for uom in vm.uoms"
                  required ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"></select>
              </div>
              <div class="form-group col-md-2 col-sm-6" show-errors>
                <label class="control-label reqd" for="purchasedPrice">Purchased Price (Php): </label>
                <input name="purchasedPrice" type="number" ng-model="list.purchasedPrice" id="purchasedPrice" step="0.01" class="form-control"
                  min="0.00" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'" oninput="validity.valid || (value='')">
              </div>
              <div class="form-group col-md-2 col-sm-6" show-errors>
                <label class="control-label reqd" for="ordered">Quantity: </label>
                <input name="ordered" type="number" ng-model="list.ordered" id="ordered" class="form-control" min="0" required ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"
                  oninput="validity.valid || (value='')">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-2 col-sm-4">
                <label class="control-label" for="received">Received: </label>
                <div class="read-only">{{list.received}}</div>
              </div>
              <div class="form-group col-md-2 col-sm-4" show-errors>
                <label class="control-label" for="cancelled">Cancelled: </label>
                <input name="cancelled" type="number" ng-model="list.cancelled" id="cancelled" class="form-control" min="0" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open' && vm.purchaseOrder.status !== 'Processing'"
                  oninput="validity.valid || (value='')">
              </div>
              <div class="form-group col-md-3 col-sm-4" ng-show="list.cancellationDate">
                  <label class="control-label" for="received">Cancelled Date: </label>
                <div class="read-only">{{list.cancellationDate | date : 'medium' }}</div>
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <span class="pull-right"><strong>Total:</strong> {{list.purchasedPrice * list.ordered | currency:'' }}</span>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- <table class="table table-condensed table-striped table-hover table-responsive table-less table-subtable">
          <tr>
            <th width="80%" class="reqd">Item Details</th>
            <th width="10%">Item Cancelled</th>
            <th width="5%">Received</th>
            <th width="13%">UOM</th>
          <th width="7%">Purchased Price (Php)</th>
          <th width="7%" class="reqd">Quantity</th>
          <th width="6%">Amount (Php)</th>
          <th width="7%">Received</th>
          <th width="7%">Cancelled</th>
          <th width="14%">Cancellation Date</th>
            <th width="15%">Status</th>
            <th width="5%">Action</th>
          </tr>
          <tr data-ng-if="!vm.purchaseOrder.lines.length">
            <td colspan="10" align="center">No records found</td>
          </tr>
          <tr data-ng-repeat="list in vm.purchaseOrder.lines | orderBy:'item.code' ">
            <td>
              <div class="form-group col-md-6" show-errors>
                <label class="control-label reqd" for="item">Item: </label>
                <select name="item" type="text" ng-model="list.item._id" id="item" class="form-control" ng-options="it._id as (it.code + ' - ' + it.description) for it in vm.items"
                  required ng-change="vm.selectItem(list)" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"></select>
              </div>
              <div class="form-group col-md-6" show-errors>
                <label class="control-label reqd" for="uom">UOM: </label>
                <select name="uom" type="text" ng-model="list.uom._id" id="item" class="form-control" ng-options="uom._id as uom.value for uom in vm.uoms"
                  required ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"></select>
              </div>

              <div class="form-group col-md-4" show-errors>
                <label class="control-label reqd" for="purchasedPrice">Purchased Price (Php): </label>
                <input name="purchasedPrice" type="number" ng-model="list.purchasedPrice" id="purchasedPrice" step="0.01" class="form-control"
                  min="0.00" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'" oninput="validity.valid || (value='')">
              </div>
              <div class="form-group col-md-4" show-errors>
                <label class="control-label reqd" for="ordered">Quantity: </label>
                <input name="ordered" type="number" ng-model="list.ordered" id="ordered" class="form-control" min="0" required ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"
                  oninput="validity.valid || (value='')">
              </div>
              <div class="form-group col-md-4" show-errors>
                <label class="control-label reqd" for="amount">Amount (Php): </label>
                <input name="amount" type="number" id="amount" class="form-control" ng-disabled="true" ng-value="list.purchasedPrice * list.ordered">
              </div>
            </td>
            <td>
              <div class="form-group col-md-12" show-errors>
                <input name="cancelled" type="number" ng-model="list.cancelled" id="cancelled" class="form-control" min="0" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open' && vm.purchaseOrder.status !== 'Processing'"
                  oninput="validity.valid || (value='')">
              </div>
              <div class="form-group col-md-12">
                {{list.cancellationDate | date : 'medium' }}
              </div>
            </td>
            <td class="cell-readonly" data-ng-bind="list.received"></td>
            <td class="cell-readonly" data-ng-bind="list.status"></td>

            <td>
              <select name="item" type="text" ng-model="list.item._id" id="item" class="form-control" ng-options="it._id as (it.code + ' - ' + it.description) for it in vm.items" required ng-change="vm.selectItem(list)" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"></select>
            </td>
            <td>
              <select name="uom" type="text" ng-model="list.uom._id" id="item" class="form-control" ng-options="uom._id as uom.value for uom in vm.uoms" required ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"></select>
            </td>
            <td>
              <input name="purchasedPrice" type="number" ng-model="list.purchasedPrice" id="purchasedPrice" step="0.01" class="form-control" min="0.00" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'" oninput="validity.valid || (value='')">
            </td>
            <td>
              <input name="ordered" type="number" ng-model="list.ordered" id="ordered" class="form-control" min="0" required ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'" oninput="validity.valid || (value='')">
            </td>
            <td class="cell-readonly">{{ list.purchasedPrice * list.ordered | currency:'' }}</td>
            <td class="cell-readonly" data-ng-bind="list.received"></td>
            <td>
              <input name="cancelled" type="number" ng-model="list.cancelled" id="cancelled" class="form-control" min="0" ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open' && vm.purchaseOrder.status !== 'Processing'" oninput="validity.valid || (value='')">
            </td>
            <td class="cell-readonly" data-ng-bind="list.status"></td>
            <td class="cell-readonly" data-ng-bind="list.cancellationDate | date : 'medium' "></td>
            <td>
              <div class="btn btn-danger" ng-click="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open' || vm.deleteLine($index)"
                ng-disabled="vm.purchaseOrder.status && vm.purchaseOrder.status !== 'Open'"><i class="glyphicon glyphicon-trash"></i></div>
            </td>
          </tr>
        </table> -->

        <div class="lineTotal"><b>Total: </b>{{ vm.computeTotal(vm.purchaseOrder.lines) | currency:'' }}</div>

        <span data-ng-if="vm.purchaseOrder._id">
          
        <br/>
        <!-- <div class="button-cnt button-group" ng-show="vm.purchaseOrder.status === 'Open' || vm.purchaseOrder.status === 'Processing'">
            <div class="btn btn-primary" data-ui-sref="purchase-orders.receipts({ purchaseOrderId: vm.purchaseOrder._id })" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Receipt
            </div>
        </div> -->
          
        <div class="page-subheader">
          <h3>Receipts</h3>
        </div>
          
        <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
        <tr>
          <th width="5%">Number</th>
          <th width="15%">Date</th>
          <th width="20%">Comments</th>
          <th width="5%">Created By</th>
        </tr>
        <tr data-ng-if="!vm.receipts.length">
          <td colspan="4" align="center">No records found</td>
        </tr>
        <tr data-ng-repeat="receipt in vm.receipts" data-ui-sref="purchase-orders.editReceipts({ receiptId: receipt._id, purchaseOrderId: receipt.purchaseOrder._id })">
          <td data-ng-bind="receipt.number"></td>
          <td data-ng-bind="receipt.created  | date : 'medium' "></td>
          <td data-ng-bind="receipt.comments"></td>
          <td data-ng-bind="receipt.createdBy.username"></td>
        </tr>
        </table>
        </span>

        <div class="clear-block"></div>

        <div class="form-group">
          <span ng-show="vm.purchaseOrder.status !== 'Closed' && vm.purchaseOrder.status !== 'Completed'">
            <button type="submit" class="btn btn-success">Save</button>
          </span>
          <span data-ng-if="vm.purchaseOrder._id && vm.purchaseOrder.status !== 'Closed' && vm.purchaseOrder.status !== 'Completed' ">
            <button type="button" class="btn btn-danger" ng-click="vm.cancelPo(vm.purchaseOrder)">Close Whole PO</button>
          </span>
          <button type="button" class="btn btn-default" data-ui-sref="purchase-orders.list">Back</button>
          <button class="btn btn-primary" data-ui-sref="purchase-orders.create" data-ui-sref-opts="{reload: true}" style="float: right;"
            ng-show="vm.purchase-order._id"><i class="glyphicon glyphicon-plus"></i> Add New Purchase Order</button>
        </div>
      </fieldset>
    </form>
    <div class="form-detials dtl-border" data-ng-if="vm.purchaseOrder.createdBy">
      <div class="dtl-left">
        <span class="dtl-label" data-ng-if="vm.purchaseOrder.updatedBy">Updated By:</span> {{vm.purchaseOrder.updatedBy.username}}
        <br/>
        <span class="dtl-label" data-ng-if="vm.purchaseOrder.updated">Date Updated:</span> {{vm.purchaseOrder.updated | date:
        'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.purchaseOrder.createdBy">Created By:</span> {{vm.purchaseOrder.createdBy.username}}
        <br/>
        <span class="dtl-label" data-ng-if="vm.purchaseOrder.created">Date Created:</span> {{vm.purchaseOrder.created | date:
        'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>