<section>
  <div class="page-header">
    <form class="form-inline" style="float: right;">
      <!-- <input name="module" ng-model="module" id="module" class="form-control" placeholder="Purchasing" required ng-readonly="true">
      <select ng-model="period" class="form-control" ng-options="p.periodName for p in periods">
        <option value="" disabled selected>Period</option>
      </select>
      <button type="button" class="btn btn-primary" ng-click="postToGL()">Post to GL</button> -->
    <button class="btn btn-primary" data-ui-sref="purchase-orders.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Purchase Order</button>
    </form>
    <h1>Purchase Orders</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="number" placeholder="PO Number" 
            ng-change="searchNumber()" typeahead="c for c in sc" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="supplier" placeholder="Supplier Name"
            ng-change="searchName()" typeahead="sn for sn in sn" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="created" placeholder="Created By"
            ng-change="searchUser()" typeahead="u for u in user" typeahead-wait-ms="50">
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="status" placeholder="Status" required>
            <option value="" disabled selected>Status</option>
            <option value="Open">Open</option>
            <option value="Processing">Processing</option>
            <option value="Completed">Completed</option>
            <option value="Closed">Closed</option>
          </select>
        </div>
        <div class="form-group input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateFrom" is-open="dateFromStatus.opened" datepicker-options="dateOptions" ng-required="true" max-date="dateTo" close-text="Close" placeholder="Date From" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDate($event,true)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>

        <div class="form-group input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateTo" is-open="dateToStatus.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date To" min-date="dateFrom"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDate($event,false)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>

        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <!--<pre>{{pagedItems | json}}</pre>-->
  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="5%">Number</th>
      <th width="12%">Supplier Name</th>
      <th width="15%">Date</th>
      <th width="7%">Status</th>
      <th width="10%">Total Amount (Php) </th>      
      <th width="20%">Comments</th>
      <th width="15%">Closed Date</th>
      <th width="7%">Created</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="8" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="purchaseOrder in pagedItems" data-ui-sref="purchase-orders.edit({ purchaseOrderId: purchaseOrder._id })">
      <td data-ng-bind="purchaseOrder.number"></td>
      <td data-ng-bind="purchaseOrder.supplier.name"></td>
      <td data-ng-bind="purchaseOrder.date | date : 'mediumDate' "></td>
      <td data-ng-bind="purchaseOrder.status"></td>
      <td data-ng-bind="getTotalPrice(purchaseOrder.lines) | currency:'' "></td>      
      <td data-ng-bind="purchaseOrder.comments"></td>
      <td data-ng-bind="purchaseOrder.closedDate | date : 'medium' "></td>
      <td data-ng-bind="purchaseOrder.createdBy.username"></td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
