<section>
  <div class="page-header">
    <h1>Company Profile</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.companyForm" class="form-horizontal" ng-submit="vm.save(vm.form.companyForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Company Name</label>
          <input name="name" type="text" ng-model="vm.company.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.companyForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Address</label>
          <input name="address" type="text" ng-model="vm.company.address" id="address" class="form-control" placeholder="Address" required>
          <div ng-messages="vm.form.companyForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company address is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">Phone Number</label>
          <input name="phone" type="text" ng-model="vm.company.phone" id="phone" class="form-control" placeholder="Phone Number" required>
          <div ng-messages="vm.form.companyForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company phone number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">TIN</label>
          <input name="tin" type="text" ng-model="vm.company.tin" id="tin" class="form-control" placeholder="TIN Number" required>
          <div ng-messages="vm.form.companyForm.tin.$error" role="alert">
            <p class="help-block error-text" ng-message="required">TIN is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="name">FAX Number</label>
          <input name="fax" type="text" ng-model="vm.company.fax" id="fax" class="form-control" placeholder="FAX Number" required>
          <div ng-messages="vm.form.companyForm.fax.$error" role="alert">
            <p class="help-block error-text" ng-message="required">FAX number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label reqd" for="accountCode">Account Code: </label>
          <div class="input-group">
            <select name="accountCode" type="text" ng-model="vm.company.accountCode" id="accountCode" class="form-control" placeholder="Account Code" ng-options="ac._id as ac.accountDescription for ac in vm.accountCodes" required></select>
            <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="vm.openActionCodeLookup($index)" ><i class="glyphicon glyphicon-search" ></i></button>
            </span>
          </div>
          <div ng-messages="vm.form.companyForm.accountCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account Code is required.</p>
          </div>
        </div>
        <!--<div class="form-group" show-errors>
          <label class="control-label" for="status">Company Status: </label>
          <select name="status" type="text" ng-model="vm.company.status" id="status" class="form-control" placeholder="Bank Status" required ng-init="vm.company.status = vm.company.status ? true : false">
            <option value="false">Inactive</option>
            <option value="true">Active</option>
          </select>
          <div data-ng-if="vm.company.disabled" class="dtl-disabled">
            <span class="dtl-label">Date Disabled:</span>
            {{vm.company.disabled | date: 'medium'}}
          </div>
          <div ng-messages="vm.form.companyForm.status.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Company status is required.</p>
          </div>
        </div>-->
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
        </div>    
      </fieldset>
    </form>
    <div class="form-detials dtl-border">
      <div class="dtl-left">        
        <span class="dtl-label" data-ng-if="vm.company.updatedBy">Updated By:</span> {{vm.company.updatedBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.company.updated">Date Updated:</span> {{vm.company.updated | date: 'medium'}}
      </div>
      <div class="dtl-right">
        <span class="dtl-label" data-ng-if="vm.company.createdBy">Created By:</span> {{vm.company.createdBy.username}} <br/>
        <span class="dtl-label" data-ng-if="vm.company.created">Date Created:</span> {{vm.company.created | date: 'medium'}}
      </div>
      <div class="clear-block"></div>
    </div>
  </div>
</section>