<section>
  <div class="page-header">
   <button class="btn btn-primary" data-ui-sref="companies.create" style="float: right;"><i class="glyphicon glyphicon-plus"></i> Add Company</button>
    <h1>Companies</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading search-heading">
     <h4 class="panel-title" data-toggle="collapse" data-target="#panel-body" ng-click="isCollapsed=!isCollapsed">
        <i class="glyphicon glyphicon-search"></i> <strong>Search</strong>
        <span style="float: right;">
          <i ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed, 'glyphicon glyphicon-chevron-up': !isCollapsed }"></i>
        </span>
     </h4>
    </div>
    <div class="collapse in panel-body search-panel" id="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="name" placeholder="Company Name"
            ng-change="searchName()" typeahead="n for n in ns" typeahead-wait-ms="50">
        </div>
        <div class="form-group button-group">
          <button type="button" class="btn btn-success" ng-click="figureOutItemsToDisplay()">
            <i class="glyphicon glyphicon-search"></i> Search
          </button>
          <button type="button" class="btn btn-warning" ng-click="clear()">
            <i class="glyphicon glyphicon-repeat"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>

  <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
      <th width="10%">Company Name</th>
      <th width="30%">Address</th>
      <th width="10%">Phone Number</th>
      <th width="10%">TIN Number</th>
      <th width="10%">FAX Number</th>
    </tr>
    <tr data-ng-if="!pagedItems.length">
      <td colspan="5" align="center">No records found</td>
    </tr>
    <tr data-ng-repeat="company in pagedItems" data-ui-sref="companies.edit({ companyId: company._id })">
      <td data-ng-bind="company.name"></td>
      <td data-ng-bind="company.address"></td>
      <td data-ng-bind="company.phone"></td>
      <td data-ng-bind="company.tin"></td>
      <td data-ng-bind="company.fax"></td>
    </tr>
  </table>
  <div class="panel">
    <pagination boundary-links="true" max-size="2" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" style="margin: 0px;"></pagination>
  </div>
</section>
